In [1]:
import pandas as pd
import numpy as np

import pandas as pd
import numpy as np
import psycopg2

%matplotlib inline

con = psycopg2.connect (user = 'postgres',
                password = 'postgres',
                port = '5433',
                host = 'localhost',                
                database = 'inicudb')

cur  = con.cursor()

In [2]:
#uhidPatient = "RNEH.0000012581"
#caseType = 'Death'
#conditionCase = "(dischargestatus = 'Death' or dischargestatus = 'LAMA' )"
uhidPatient = "RSHI.0000012984"
caseType = 'Discharge'
conditionCase = "(dischargestatus = 'Discharge')"
seperator = '_'

In [3]:
#base = pd.read_csv("/Users/harpreet/Videos/data_22_june.csv",  nrows=999999)

In [4]:
#ds = base[~base.starttime.notna()]

In [5]:
#ds.hour_series.head()

In [6]:
#base[~base.hour_series.notna()]

In [7]:
#death_base = base[base.dischargestatus == 1]

In [8]:
#discharge_base = base[base.dischargestatus == 0]

In [9]:
#death_base.uhid.unique()

In [10]:
#discharge_base.uhid.unique()

In [11]:
#dea = death_base.groupby('uhid').head(1)
#dis = discharge_base.groupby('uhid').head(1)

In [12]:
#checkingUHIDData = death_base[death_base.uhid==uhidPatient]

In [13]:
#checkingUHIDData.to_csv(uhidPatient+".csv")

In [14]:
#print(dea.gestationweekbylmp, dea.birthweight,dea.uhid)

In [15]:
#print(dea.gestationweekbylmp, dea.birthweight,dea.uhid)

In [16]:
#lesstha26 = dis[(dis.gestationweekbylmp <= 26) & (dis.birthweight<=1500)]
#between26and28 = dis[(dis.gestationweekbylmp > 26) & (dis.gestationweekbylmp <= 28) & (dis.birthweight<=1500)]
#between28and32 = dis[(dis.gestationweekbylmp > 28) & (dis.gestationweekbylmp <= 32) & (dis.birthweight<=1500)]
#greaterthan32 = dis[(dis.gestationweekbylmp > 32) & (dis.birthweight<=3000) & (dis.birthweight>=2500)]

In [17]:
#(lesstha26.birthweight)

In [18]:
#(between26and28.birthweight)

In [19]:
#(between28and32.birthweight)

In [20]:
#len(greaterthan32)

In [21]:
cur10 = con.cursor()
cur10.execute("SELECT t1.uhid,t1.dateofbirth,t1.timeofbirth,t1.timeofadmission,t1.dateofadmission,t1.gender,t1.birthweight,t1.birthlength,t1.birthheadcircumference,t1.inout_patient_status,t1.gestationweekbylmp,t1.gestationdaysbylmp,t1.baby_type,t1.central_temp,t1.dischargeddate,t2.apgar_onemin,t2.apgar_fivemin,t2.apgar_tenmin,t3.motherage,t4.conception_type,t4.mode_of_delivery,t5.steroidname,t5.numberofdose,t1.dischargestatus  FROM apollo.baby_detail AS t1 LEFT JOIN apollo.birth_to_nicu AS t2 ON t1.uhid=t2.uhid LEFT JOIN apollo.parent_detail AS t3 ON t1.uhid=t3.uhid LEFT JOIN apollo.antenatal_history_detail AS t4 ON t1.uhid=t4.uhid LEFT JOIN apollo.antenatal_steroid_detail AS t5 ON t1.uhid=t5.uhid where timeofadmission is not null and timeofbirth is not null and t1.uhid = '"+uhidPatient+"';")
cols10 = list(map(lambda x: x[0], cur10.description))
fixed = pd.DataFrame(cur10.fetchall(),columns=cols10)

In [22]:
len(fixed)

64

In [23]:
s1 = set(fixed.uhid.unique())

In [24]:
cur11 = con.cursor()
cur11.execute("SELECT DISTINCT(uhid) FROM apollo.baby_detail WHERE dateofadmission >= '2018-07-01' AND dateofadmission <= '2020-06-25' and UHID IN  (select distinct(uhid) from apollo.babyfeed_detail where uhid in  ( select distinct(uhid) from apollo.baby_visit where uhid in (select  distinct(uhid) from apollo.nursing_vitalparameters where uhid in ( select distinct(uhid) from apollo.device_monitor_detail UNION select distinct(uhid) from apollo.device_monitor_detail_dump)))) and "+conditionCase+" and isreadmitted is not true and gestationweekbylmp is not null and birthweight is not null and uhid = '"+uhidPatient+"';")
cols11 = list(map(lambda x: x[0], cur11.description))
uhids = pd.DataFrame(cur11.fetchall(),columns=cols11)

In [25]:
print(len(uhids.uhid.unique()))

1

In [26]:
s2 = set(uhids.uhid.unique())

In [27]:
l = list(s1 - s1.intersection(s2))

In [28]:
len(uhids)

1

In [29]:
fixed.set_index('uhid',inplace=True)

In [30]:
df = fixed.drop(l)

In [31]:
len(df.drop_duplicates())

8

In [32]:
df.reset_index(inplace=True)

In [33]:
len(df.uhid.unique())

1

In [34]:
#dates_detail = ds.copy()

In [35]:
dates_detail = df.copy()

In [36]:
dates_detail.head()

,uhid,dateofbirth,timeofbirth,timeofadmission,dateofadmission,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,dischargeddate,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus
0,RSHI.0000012984,2018-08-21,"12,07,PM","03,15,PM",2018-11-28,Male,691.0,None,None,In Born,...,2018-12-20 13:04:10.942,None,None,None,34,None,LSCS,None,None,Discharge
1,RSHI.0000012984,2018-08-21,"12,07,PM","03,15,PM",2018-11-28,Male,691.0,None,None,In Born,...,2018-12-20 13:04:10.942,None,None,None,34,ivf,LSCS,None,None,Discharge
2,RSHI.0000012984,2018-08-21,"12,07,PM","03,15,PM",2018-11-28,Male,691.0,None,None,In Born,...,2018-12-20 13:04:10.942,None,None,None,34,ivf,LSCS,None,None,Discharge
3,RSHI.0000012984,2018-08-21,"12,07,PM","03,15,PM",2018-11-28,Male,691.0,None,None,In Born,...,2018-12-20 13:04:10.942,None,None,None,34,ivf,LSCS,None,None,Discharge
4,RSHI.0000012984,2018-08-21,"12,07,PM","03,15,PM",2018-11-28,Male,691.0,None,None,In Born,...,2018-12-20 13:04:10.942,None,None,None,34,None,LSCS,None,None,Discharge

In [37]:
def second_addition(x):
    try:
        if x.split(",")[2] == 'PM':
            if x.split(",")[0] != '12':
                return (12 + float(x.split(",")[0]) + float(x.split(",")[1])/60)*3600
            else:
                return (float(x.split(",")[0]) + float(x.split(",")[1])/60)*3600
        else:
            return (float(x.split(",")[0]) + float(x.split(",")[1])/60)*3600
    except:
        
        if x.split(" ")[1] == 'PM':
            if (x.split(" ")[0]).split(":")[0] != '12':
                return (12 + float((x.split(" ")[0]).split(":")[0]) + float((x.split(" ")[0]).split(":")[1])/60)*3600
            else:
                return (float((x.split(" ")[0]).split(":")[0]) + float((x.split(" ")[0]).split(":")[1])/60)*3600
        else:
            return (float((x.split(" ")[0]).split(":")[0]) + float((x.split(" ")[0]).split(":")[1])/60)*3600

In [38]:
def split_date(x):
    try:
        t=str(x)
        return t.split(":")[0] + ":" + t.split(":")[1]
    except:
        pass

def split_hour(x):
    try:
        t=str(x)
        return t.split(":")[0]
    except:
        pass
    
def split_date_1(x):
    try:
        t=str(x)
        return str(t.split(" ")[0])
    except:
        pass

In [39]:
dates_detail['add_seconds'] = dates_detail['timeofbirth'].apply(second_addition)
dates_detail['add_seconds_admission'] = dates_detail['timeofadmission'].apply(second_addition)

In [40]:
from datetime import timedelta

In [41]:
def actual_birthdate(x,y):
    try:
        return pd.to_datetime(x) + timedelta(seconds=y)
    except:
        pass

In [42]:
dates_detail['actual_DOB'] = dates_detail.apply(lambda x: actual_birthdate(x['dateofbirth'], x['add_seconds']), axis=1)

In [43]:
dates_detail['actual_DOA'] = dates_detail.apply(lambda x: actual_birthdate(x['dateofadmission'], x['add_seconds_admission']), axis=1)

In [44]:
dd = dates_detail[['actual_DOB','uhid','dischargeddate','actual_DOA','gender','birthweight','birthlength','birthheadcircumference','inout_patient_status'
,'gestationweekbylmp','gestationdaysbylmp','baby_type','central_temp','apgar_onemin',
'apgar_fivemin','apgar_tenmin','motherage','conception_type','mode_of_delivery','steroidname',
'numberofdose','dischargestatus','birthlength','birthheadcircumference','inout_patient_status'
,'gestationweekbylmp','gestationdaysbylmp','baby_type','central_temp','apgar_onemin',
'apgar_fivemin','apgar_tenmin','motherage','conception_type','mode_of_delivery','steroidname',
'numberofdose']]

In [45]:
dd.dropna(subset=['dischargeddate'],inplace=True)

/Users/harpreet/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
dd['los'] = dates_detail['dischargeddate'] - dates_detail['actual_DOA']

/Users/harpreet/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
def day(x):
    return x.total_seconds()/86400

In [48]:
dd['day_1'] = dd['los'].apply(day)

/Users/harpreet/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
dd = dd[dd['day_1']>=0]

In [50]:
dd.sort_values(by = ['actual_DOA'],inplace=True)

In [51]:
dd.drop_duplicates(subset=['uhid'],keep='first',inplace=True)

In [52]:
dd

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654

In [53]:
dt = pd.DataFrame()

In [54]:
dt

Empty DataFrame
Columns: []
Index: []

In [55]:
dd

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654

In [56]:
dd.columns

Index(['actual_DOB', 'uhid', 'dischargeddate', 'actual_DOA', 'gender',
       'birthweight', 'birthlength', 'birthheadcircumference',
       'inout_patient_status', 'gestationweekbylmp', 'gestationdaysbylmp',
       'baby_type', 'central_temp', 'apgar_onemin', 'apgar_fivemin',
       'apgar_tenmin', 'motherage', 'conception_type', 'mode_of_delivery',
       'steroidname', 'numberofdose', 'dischargestatus', 'birthlength',
       'birthheadcircumference', 'inout_patient_status', 'gestationweekbylmp',
       'gestationdaysbylmp', 'baby_type', 'central_temp', 'apgar_onemin',
       'apgar_fivemin', 'apgar_tenmin', 'motherage', 'conception_type',
       'mode_of_delivery', 'steroidname', 'numberofdose', 'los', 'day_1'],
      dtype='object')

In [57]:
dd.dischargeddate

31   2018-11-22 14:04:10.942
Name: dischargeddate, dtype: datetime64[ns]

In [58]:
dd.dischargeddate.iloc[0]

Timestamp('2018-11-22 14:04:10.942000')

In [59]:
dd.actual_DOA.iloc[0]

Timestamp('2018-08-21 16:33:00')

In [60]:
x = dd[dd['uhid']==uhidPatient]

In [61]:
x

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654

In [62]:
(x.dischargeddate.iloc[0] - x.actual_DOA.iloc[0]).total_seconds()

8026270.942

In [63]:
import math
for i in dd.uhid.unique():
    x = dd[dd['uhid']==i]
    time_s = []
    n = math.ceil((x.dischargeddate.iloc[0] - x.actual_DOA.iloc[0]).total_seconds()/60)
    try:
        x = pd.concat([x]*int(n))

        for i in range(0,len(x)):
            #print(i)
            time_s.append(x['actual_DOA'].iloc[i] + timedelta(seconds = i*60))
            #t['hour_series'].loc[i] = t['actual_DOA'].iloc[i] + timedelta(hours = i)

        x['hour_series'] = time_s
    except Exception as e:
        print(i,n, e)
        continue
    dt = dt.append(x,ignore_index=True)

In [64]:
len(dt)

133772

In [65]:
dt

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00

In [66]:
dt

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00

In [67]:
dt.drop_duplicates(subset=['uhid','hour_series'],inplace=True)

In [68]:
dt

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00

In [69]:
cur1 = con.cursor()
cur1.execute("select distinct(b.uhid),l.conception_type, b.gender, b.dateofadmission, b.dischargestatus,b.birthweight,b.weight_galevel,b.weight_centile,b.birthlength,b.birthheadcircumference, b.inout_patient_status, b.gestationweekbylmp, b.gestationdaysbylmp,round( CAST((b.gestationweekbylmp + b.gestationdaysbylmp/7::float) as numeric),2) as Gestation,b.dischargeddate, b.admissionweight, b.baby_type,b.baby_number, b.branchname ,DATE_PART('day',b.dischargeddate - b.dateofadmission) as LOS,c.apgar_onemin, c.apgar_fivemin,c.apgar_tenmin, c.resuscitation,d.isantenatalsteroidgiven, d.mode_of_delivery,z.motherage,e.jaundicestatus as JAUNDICE,  f.eventstatus as SEPSIS,f.progressnotes, g.eventstatus as RDS, g.progressnotes,y.eventstatus as ASPHYXIA,y.progressnotes from apollo.baby_detail as b left join apollo.birth_to_nicu as c on b.uhid = c.uhid and b.episodeid = c.episodeid left join apollo.parent_detail as z on b.uhid = z.uhid and b.episodeid = z.episodeid left join apollo.antenatal_history_detail as d on b.uhid = d.uhid and b.episodeid = d.episodeid left join apollo.sa_jaundice AS e ON b.uhid = e.uhid and e.jaundicestatus = 'Yes' and e.phototherapyvalue='Start' left join apollo.sa_infection_sepsis AS f ON b.uhid = f.uhid and f.eventstatus = 'yes' and f.episode_number = 1 left join apollo.sa_cns_asphyxia AS y ON b.uhid = y.uhid and y.eventstatus = 'yes' and y.episode_number = 1 left join apollo.antenatal_history_detail as l on b.uhid=l.uhid left join apollo.sa_resp_rds AS g ON b.uhid = g.uhid and g.eventstatus = 'Yes' and g.episode_number = 1 and g.uhid IN (select distinct(h.uhid) from apollo.respsupport AS h where h.eventname='Respiratory Distress' and (h.rs_vent_type ='Mechanical Ventilation' OR h.rs_vent_type ='HFO') UNION select distinct(i.uhid) from apollo.sa_resp_rds AS i where i.sufactantname is not null) and b.uhid = '"+uhidPatient+ "' order by b.dateofadmission")
cols1 = list(map(lambda x: x[0], cur1.description))
ds = pd.DataFrame(cur1.fetchall(),columns=cols1)
#ds.sort_values('modificationtime',inplace=True)

In [70]:
len(dt.uhid.unique())

1

In [71]:
data = ds.copy()

In [72]:
dt

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,...,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,...,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00

In [73]:
ids = dt.uhid.unique()

In [74]:
len(dt)

133772

In [75]:
data.drop_duplicates('uhid',keep='first',inplace=True)

In [76]:
df = pd.DataFrame(columns=data.columns)

In [77]:
for i in ids:
    x = data[data['uhid']==i]
    df = df.append(x,ignore_index=True)

In [78]:
#d = pd.read_csv('baseline.csv')

In [79]:
#len(d)

In [80]:
#s = set(d['uhid'].unique())

In [81]:
pd.set_option('display.max_columns',100)

In [82]:
#s1 = set(ids)

In [83]:
ds = pd.DataFrame()

In [84]:
ds = dt.copy()

In [85]:
#ds.to_csv('test_baseline.csv')

In [86]:
uhid = ds.uhid.unique()

In [87]:
dt = pd.DataFrame()

In [88]:
for i in uhid:
    x = dd[dd['uhid']==i]
    time_s = []
    n = math.ceil((x.dischargeddate.iloc[0] - x.actual_DOA.iloc[0]).total_seconds()/60)
    try:
        x = pd.concat([x]*int(n))
        for i in range(0,len(x)):
            #print(i)
            time_s.append(x['actual_DOA'].iloc[i] + timedelta(seconds = i*60))
            #t['hour_series'].loc[i] = t['actual_DOA'].iloc[i] + timedelta(hours = i)

        x['hour_series'] = time_s
    except Exception as inst:
        print(inst)
        continue
    dt = dt.append(x,ignore_index=True)

In [89]:
dd['uhid']

31    RSHI.0000012984
Name: uhid, dtype: object

In [90]:
len(dt)

133772

In [91]:
x

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00
31,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00

In [92]:
uhid

array(['RSHI.0000012984'], dtype=object)

In [93]:
dt['hour_series'].apply(split_hour)

0         2018-08-21 16
1         2018-08-21 16
2         2018-08-21 16
3         2018-08-21 16
4         2018-08-21 16
              ...
133767    2018-11-22 14
133768    2018-11-22 14
133769    2018-11-22 14
133770    2018-11-22 14
133771    2018-11-22 14
Name: hour_series, Length: 133772, dtype: object

In [94]:
dt['hour'] = dt['hour_series'].apply(split_hour)

In [95]:
dt['day'] = dt['hour_series'].apply(split_date_1)

In [96]:
len(dt.uhid.unique())

1

In [97]:
#output
cur9= con.cursor()
cur9.execute("SELECT t1.uhid,t1.abdomen_girth,t1.urine,t1.stool,t1.stool_passed, t1.entry_timestamp FROM apollo.nursing_intake_output AS t1 where t1.uhid = '"+uhidPatient+"'")
cols9 = list(map(lambda x: x[0], cur9.description))
output = pd.DataFrame(cur9.fetchall(),columns=cols9)

In [98]:
dt

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22

In [99]:
output_d = pd.DataFrame()

In [100]:
for i in uhid:
    x = output[output['uhid']==i]
    output_d = output_d.append(x,ignore_index=True)

In [101]:
output_d.entry_timestamp = output_d.entry_timestamp + timedelta(seconds=19800)

In [102]:
output_d

,uhid,abdomen_girth,urine,stool,stool_passed,entry_timestamp
0,RSHI.0000012984,25,10,None,None,2018-10-08 02:00:55.135000+08:00
1,RSHI.0000012984,25,7,Medium,True,2018-10-10 06:00:29.883000+08:00
2,RSHI.0000012984,None,None,None,None,2018-08-27 05:00:38.348000+08:00
3,RSHI.0000012984,None,None,None,None,2018-08-27 02:00:27.744000+08:00
4,RSHI.0000012984,None,None,None,None,2018-08-27 01:00:48.407000+08:00
...,...,...,...,...,...,...
1989,RSHI.0000012984,37,22,Small,True,2019-02-01 04:00:44.308000+08:00
1990,RSHI.0000012984,38,18,Medium,True,2019-02-02 00:00:31.867000+08:00
1991,RSHI.0000012984,37,None,None,None,2019-01-30 16:00:42.340000+08:00
1992,RSHI.0000012984,37,18,None,None,2019-02-01 12:00:27.099000+08:00
1993,RSHI.0000012984,39,15,None,None,2019-02-01 20:00:27.858000+08:00

In [103]:
output_d['hour'] = output_d.entry_timestamp.apply(split_hour)
output_d['day'] = output_d.entry_timestamp.apply(split_date_1)

In [104]:
output_d

,uhid,abdomen_girth,urine,stool,stool_passed,entry_timestamp,hour,day
0,RSHI.0000012984,25,10,None,None,2018-10-08 02:00:55.135000+08:00,2018-10-08 02,2018-10-08
1,RSHI.0000012984,25,7,Medium,True,2018-10-10 06:00:29.883000+08:00,2018-10-10 06,2018-10-10
2,RSHI.0000012984,None,None,None,None,2018-08-27 05:00:38.348000+08:00,2018-08-27 05,2018-08-27
3,RSHI.0000012984,None,None,None,None,2018-08-27 02:00:27.744000+08:00,2018-08-27 02,2018-08-27
4,RSHI.0000012984,None,None,None,None,2018-08-27 01:00:48.407000+08:00,2018-08-27 01,2018-08-27
...,...,...,...,...,...,...,...,...
1989,RSHI.0000012984,37,22,Small,True,2019-02-01 04:00:44.308000+08:00,2019-02-01 04,2019-02-01
1990,RSHI.0000012984,38,18,Medium,True,2019-02-02 00:00:31.867000+08:00,2019-02-02 00,2019-02-02
1991,RSHI.0000012984,37,None,None,None,2019-01-30 16:00:42.340000+08:00,2019-01-30 16,2019-01-30
1992,RSHI.0000012984,37,18,None,None,2019-02-01 12:00:27.099000+08:00,2019-02-01 12,2019-02-01
1993,RSHI.0000012984,39,15,None,None,2019-02-01 20:00:27.858000+08:00,2019-02-01 20,2019-02-01

In [105]:
output_d.sort_values(by=['uhid','entry_timestamp'],inplace=True)

In [106]:
len(output_d)

1994

In [107]:
test = output_d.drop_duplicates(subset=['uhid','hour'],keep='last')

In [108]:
test.head()

,uhid,abdomen_girth,urine,stool,stool_passed,entry_timestamp,hour,day
7,RSHI.0000012984,None,16,None,None,2018-08-26 21:00:36.800000+08:00,2018-08-26 21,2018-08-26
10,RSHI.0000012984,None,None,None,None,2018-08-26 22:00:21.057000+08:00,2018-08-26 22,2018-08-26
5,RSHI.0000012984,None,None,None,None,2018-08-26 23:00:02.667000+08:00,2018-08-26 23,2018-08-26
13,RSHI.0000012984,None,None,None,None,2018-08-27 00:00:11.559000+08:00,2018-08-27 00,2018-08-27
4,RSHI.0000012984,None,None,None,None,2018-08-27 01:00:48.407000+08:00,2018-08-27 01,2018-08-27

In [109]:
dt.head()

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21

In [110]:
dh = pd.merge(dt,test,on=['uhid','hour'],how='left')

In [111]:
dh

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22

In [112]:
#dh.sort_values(by=['uhid','entry_timestamp'],inplace=True)

In [113]:
dh.sort_values('hour_series')

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22

In [114]:
dg = pd.DataFrame()

In [115]:
dh

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22

In [116]:
len(dh)

133772

In [117]:
x.columns

Index(['uhid', 'abdomen_girth', 'urine', 'stool', 'stool_passed',
       'entry_timestamp'],
      dtype='object')

In [118]:
x.urine

0         10
1          7
2       None
3       None
4       None
        ...
1989      22
1990      18
1991    None
1992      18
1993      15
Name: urine, Length: 1994, dtype: object

In [119]:
for i in uhid:
    x = dh[dh['uhid']==i]
    #x.dropna(subset=['urine'],inplace=True)
    x['time_divide'] = 0
    print(len(x))
    startTime = None
    for j in range(len(x)):
        try:
            if j == 0:
                x.loc[j,'time_divide'] = 0.0                
                startTime = x.actual_DOA.iloc[j]
            else:
                if(x.urine.iloc[j] != None):
                    urine_value = float(x.urine.iloc[j])
                    if(~math.isnan(urine_value) and (urine_value >0)):
                        x.loc[j,'time_divide'] = (pd.to_datetime(str(x.entry_timestamp.iloc[j]).split("+")[0]) - startTime).total_seconds()
                        startTime = pd.to_datetime(str(x.entry_timestamp.iloc[j]).split("+")[0])
            #print(x.loc[j,'time_divide'])
        except Exception as e:
            print(j,'Exception is',e)
            continue
    dg = dg.append(x,ignore_index=True)

133772

In [120]:
dg.time_divide.unique()

array([0.0000000e+00, 4.4805680e+05, 3.5973958e+04, 7.2166090e+03,
       1.4415046e+04, 2.8800173e+04, 2.2699035e+04, 2.4799230e+03,
       1.0826918e+04, 3.5934450e+03, 7.1781200e+03, 1.4415863e+04,
       1.4398689e+04, 2.8788535e+04, 1.4415568e+04, 2.5195263e+04,
       3.5776170e+03, 1.4408112e+04, 2.1600443e+04, 2.1606547e+04,
       7.2312100e+03, 7.1840860e+03, 1.0790560e+04, 7.2124970e+03,
       1.1260018e+04, 1.3949751e+04, 1.7992093e+04, 1.0761424e+04,
       7.2313360e+03, 1.0816918e+04, 1.4351256e+04, 1.3020641e+04,
       1.2198283e+04, 7.1884450e+03, 1.1641587e+04, 1.7197120e+04,
       1.4347548e+04, 1.0823273e+04, 3.5639332e+05, 1.4401211e+04,
       7.2144940e+03, 7.1967300e+03, 6.9356650e+03, 2.6109400e+02,
       7.2315050e+03, 7.1985410e+03, 7.2363870e+03, 7.1479810e+03,
       7.1826630e+03, 1.4381459e+04, 1.4417531e+04, 7.1901230e+03,
       7.2463240e+03, 7.1732460e+03, 1.4654810e+04, 1.4126478e+04,
       1.0804378e+04, 3.6268460e+03, 7.1952280e+03, 1.0788039e+04,
       2.1620565e+04, 2.1578137e+04, 1.0791381e+04, 1.0800855e+04,
       1.0818820e+04, 7.1864290e+03, 1.4415065e+04, 1.0811068e+04,
       1.0781841e+04, 1.8004791e+04, 1.0769849e+04, 1.4421384e+04,
       1.5139147e+04, 6.4455990e+03, 7.2074030e+03, 1.5006119e+04,
       1.3793595e+04, 1.4437012e+04, 2.1593824e+04, 7.1594680e+03,
       7.2482490e+03, 1.4758919e+04, 6.7964890e+03, 2.8838808e+04,
       1.4387134e+04, 7.1794080e+03, 7.2258440e+03, 7.1930430e+03,
       7.2095280e+03, 1.7994796e+04, 3.6056640e+03, 2.2098522e+04,
       6.6775960e+03, 7.1945310e+03, 7.1926010e+03, 7.2058280e+03,
       7.1967560e+03, 2.1625583e+04, 1.4405660e+04, 1.8076809e+04,
       3.4920810e+03, 1.4396731e+04, 7.2185660e+03, 2.8787270e+04,
       7.2036740e+03, 7.1945820e+03, 1.4398684e+04, 1.4449368e+04,
       2.1563688e+04, 7.2322460e+03, 1.4380349e+04, 1.3445376e+04,
       9.7233200e+02, 1.4389679e+04, 1.4378338e+04, 2.1606132e+04,
       6.6464000e+03, 1.8549821e+04, 1.0831595e+04, 7.1828080e+03,
       7.0096630e+03, 1.4577436e+04, 1.4404312e+04, 7.2123420e+03,
       7.1583180e+03, 2.1611088e+04, 7.2223870e+03, 7.1961140e+03,
       7.2193410e+03, 7.1899680e+03, 7.1589210e+03, 7.2338690e+03,
       7.2665000e+03, 1.7784389e+04, 3.7416110e+03, 7.2004970e+03,
       7.2218140e+03, 7.1760230e+03, 6.7983270e+03, 7.6253940e+03,
       1.4366881e+04, 1.4396162e+04, 7.2163370e+03, 7.1899830e+03,
       7.2146200e+03, 7.1783260e+03, 7.2112550e+03, 1.4413560e+04,
       7.1659160e+03, 7.2414010e+03, 7.1651290e+03, 1.4448843e+04,
       1.4342742e+04, 7.2501780e+03, 1.4373734e+04, 1.4433821e+04,
       7.1711580e+03, 1.4396822e+04, 7.1737470e+03, 1.4407630e+04,
       7.2421590e+03, 1.4386994e+04, 7.1774600e+03, 7.2231180e+03,
       7.1740480e+03, 7.2451380e+03, 7.1569270e+03, 7.2328100e+03,
       7.1585180e+03, 1.4427966e+04, 7.1996920e+03, 1.4407261e+04,
       1.4399702e+04, 1.4395903e+04, 2.1591562e+04, 7.1739820e+03,
       7.2100010e+03, 2.1628299e+04, 1.4377916e+04, 1.4381586e+04,
       1.4439698e+04, 7.1856700e+03, 7.2056620e+03, 7.1820160e+03,
       7.2093750e+03, 2.8785198e+04, 7.2386540e+03, 7.1790950e+03,
       7.2022140e+03, 7.2252120e+03, 7.2007110e+03, 7.1958130e+03,
       7.1781650e+03, 7.2083010e+03, 1.4415272e+04, 1.4374101e+04,
       1.4390651e+04, 7.2188840e+03, 7.1901310e+03, 1.4411872e+04,
       1.4377227e+04, 1.4433786e+04, 1.4396448e+04, 1.4414005e+04,
       7.1839390e+03, 7.1694190e+03, 1.4433395e+04, 1.4364340e+04,
       1.4423473e+04, 1.4417352e+04, 1.4403877e+04, 1.4370646e+04,
       7.2288630e+03, 1.6178244e+04, 7.1941760e+03, 1.2623210e+04,
       1.4356682e+04, 1.0826183e+04, 6.9423390e+03, 1.1055600e+04,
       7.1758200e+03, 1.4419109e+04, 7.2183270e+03, 1.4403716e+04,
       1.4386075e+04, 1.4408510e+04, 7.2010870e+03, 7.5086710e+03,
       1.7602668e+04, 1.0860806e+04, 1.4435852e+04, 7.2062690e+03,
       1.4350202e+04, 7.2037950e+03, 1.4439200e+04, 7.1872280e+03,
       7.1699100e+03, 7.2035510e+03, 2.1597945e+04, 7.2399180e+03,
       2.1833027e+04, 1.4170957e+04, 7.1514600e+03, 1.4451460e+04,
       7.1678070e+03, 1.6410473e+04, 5.2031530e+03, 7.1940870e+03,
       7.1750520e+03, 7.2252070e+03, 1.4374575e+04, 7.2260550e+03,
       1.4424449e+04, 7.1590040e+03, 1.4411557e+04, 7.1803920e+03,
       7.1947780e+03, 7.2555900e+03, 7.1672940e+03, 2.1622758e+04,
       1.4353169e+04, 7.2550150e+03, 7.1987460e+03, 7.1748780e+03,
       7.1728920e+03, 7.2330590e+03, 7.1713880e+03, 7.2296610e+03,
       1.4374249e+04, 2.1607761e+04, 7.2035970e+03, 7.2046990e+03,
       7.1825840e+03, 7.2052540e+03, 7.2259170e+03, 7.1986610e+03,
       7.1679590e+03, 1.4406657e+04, 1.4445467e+04, 1.3985902e+04,
       1.4804815e+04, 1.4406542e+04, 7.1890230e+03, 7.1949380e+03,
       1.4417259e+04, 7.1065520e+03, 7.2840030e+03, 1.4355143e+04,
       7.2341600e+03, 7.2094480e+03, 1.4408245e+04, 7.1569060e+03,
       2.1606576e+04, 1.4398224e+04, 7.1904690e+03, 7.2474200e+03,
       7.1453590e+03, 7.2253530e+03, 7.2072710e+03, 7.2251880e+03,
       7.1555460e+03, 1.4392184e+04, 1.4425365e+04, 7.2183570e+03,
       1.4393625e+04, 7.1744510e+03, 7.2200520e+03, 7.2000990e+03,
       7.1977090e+03, 7.2020590e+03, 7.2022090e+03, 7.2189400e+03,
       7.6399960e+03, 6.7222440e+03, 7.2203130e+03, 7.1648740e+03,
       7.1991580e+03, 7.2482840e+03, 7.1761120e+03, 1.4392862e+04,
       2.1613314e+04, 7.2335310e+03, 7.1522670e+03, 7.1832650e+03,
       7.2348890e+03, 7.1957310e+03, 1.4370347e+04, 1.4423351e+04,
       1.4420128e+04, 2.1550586e+04, 7.2380850e+03, 7.1667920e+03,
       7.2351840e+03, 7.1693150e+03, 2.1623955e+04, 1.4416441e+04,
       1.4366847e+04, 7.2067150e+03, 2.1719026e+04, 1.4291018e+04,
       1.4425551e+04, 1.4351716e+04, 7.2334580e+03, 7.1763470e+03,
       7.2258930e+03, 7.1833470e+03, 7.2271790e+03, 2.1580143e+04,
       1.4374800e+04, 1.4416099e+04, 7.1898930e+03, 7.2175730e+03,
       7.1835540e+03, 7.2078030e+03, 8.5572530e+03, 5.8703030e+03,
       1.4382260e+04, 1.4370618e+04, 1.4426617e+04, 7.1986230e+03,
       7.1824240e+03, 7.1897720e+03, 1.4404666e+04, 7.2273340e+03,
       1.4423129e+04, 1.4383009e+04, 1.4368387e+04, 7.1956820e+03,
       7.2065330e+03, 7.2236000e+03, 7.1802110e+03, 7.2114640e+03,
       7.1891960e+03, 1.4403504e+04, 1.4411824e+04, 1.4414928e+04,
       7.1787650e+03, 7.2052710e+03, 7.1764720e+03, 1.4414531e+04,
       7.2135180e+03, 1.4367734e+04, 1.4431249e+04, 1.4422736e+04,
       1.4389465e+04, 1.5029170e+04, 6.5685810e+03, 7.1956130e+03,
       1.4402708e+04, 1.4389754e+04, 1.4415426e+04, 1.4352629e+04,
       7.2374760e+03, 1.4390325e+04, 7.2226760e+03, 2.1552229e+04,
       1.4439178e+04, 7.1880410e+03, 2.1606018e+04, 7.0535760e+03,
       1.4545803e+04, 1.4375981e+04, 2.8843276e+04, 1.4369476e+04,
       6.8004470e+03, 7.5948040e+03, 7.1807990e+03, 7.2305490e+03,
       7.2180170e+03, 7.1548390e+03, 7.2383900e+03, 1.4375733e+04,
       2.1603029e+04, 1.4421458e+04, 7.1697130e+03, 7.2205030e+03,
       1.4385198e+04, 1.4417053e+04, 1.4399158e+04, 7.2212610e+03,
       7.4396140e+03, 6.9522360e+03, 7.1821560e+03, 7.1766210e+03,
       7.2449560e+03, 7.1754240e+03, 7.1991840e+03, 1.4375550e+04,
       1.4439856e+04, 1.4399669e+04, 2.1584364e+04, 7.1947940e+03,
       7.1892870e+03, 1.4407610e+04, 7.2277110e+03, 7.1711890e+03,
       7.2276880e+03, 7.1824670e+03, 1.4395202e+04, 1.4425923e+04,
       2.1603195e+04, 1.4357840e+04, 1.4421064e+04, 1.4408598e+04,
       1.4402785e+04, 7.1905700e+03, 7.1926870e+03, 6.4804237e+04,
       6.2804870e+03, 1.5336207e+04, 1.4405943e+04, 1.4398681e+04,
       1.4379140e+04, 7.1807960e+03, 1.4426505e+04, 1.4388146e+04,
       7.1796040e+03, 1.4449634e+04, 1.4366659e+04, 2.1620655e+04,
       7.1864410e+03, 7.2268680e+03, 1.4396688e+04, 7.1887410e+03,
       1.4399640e+04, 1.4403045e+04, 7.2115820e+03, 7.5360500e+03,
       1.4021908e+04, 7.2152400e+03, 1.4428803e+04, 1.4347246e+04,
       7.2304450e+03, 7.2234690e+03, 7.1626840e+03, 7.1972310e+03,
       7.1838090e+03, 1.4429339e+04, 7.1953430e+03, 1.4379996e+04,
       7.2071430e+03, 7.2151310e+03, 7.2273540e+03, 7.1682640e+03,
       7.1782180e+03, 7.2480920e+03, 7.1962140e+03, 1.4394074e+04,
       1.2252261e+04, 2.1535850e+03, 7.1859590e+03, 6.9857100e+03,
       2.9033716e+04, 1.4395773e+04, 1.4410267e+04, 2.1566485e+04,
       7.2300850e+03, 1.4349493e+04, 7.2276050e+03, 7.1950950e+03,
       1.4417379e+04, 7.1726680e+03, 7.2151300e+03, 7.2272010e+03,
       7.1692510e+03, 1.4399617e+04, 1.4410698e+04, 7.1806850e+03,
       1.4385205e+04, 7.2196810e+03, 1.4416791e+04, 7.1974720e+03,
       6.7069210e+03, 7.7053730e+03, 7.2022800e+03, 2.8750955e+04,
       1.4431736e+04, 1.4393585e+04, 2.1606746e+04, 3.5812880e+03,
       3.6012230e+03, 1.4402358e+04, 7.2325570e+03, 7.1713970e+03,
       7.2174680e+03, 7.1714930e+03, 7.2356120e+03, 7.2099910e+03,
       7.1683230e+03, 7.2099140e+03, 7.2129850e+03, 7.1770010e+03,
       1.4372670e+04, 1.4430298e+04, 2.8799401e+04, 7.2174870e+03,
       7.1578020e+03, 7.2182860e+03, 7.1804520e+03, 7.0475320e+03,
       7.3725930e+03, 1.4377691e+04, 7.2456370e+03, 7.2065130e+03,
       1.4363230e+04, 7.2376860e+03, 1.8723896e+04, 2.8381820e+03,
       7.2298090e+03, 7.1761350e+03, 7.2075620e+03, 1.4394486e+04,
       7.2084300e+03, 7.1835230e+03, 7.2319750e+03, 2.1569307e+04,
       7.1856470e+03, 1.4435429e+04, 1.4408157e+04, 1.4367744e+04,
       1.4438260e+04, 2.1570513e+04, 7.1945840e+03, 1.4420216e+04,
       2.8769513e+04, 1.4402407e+04, 2.1646276e+04, 2.1588580e+04,
       2.8810402e+04, 1.4365144e+04, 7.2045520e+03, 1.4386630e+04,
       7.2288800e+03, 1.4687441e+04, 7.1641170e+03, 1.4136689e+04,
       7.1998040e+03, 1.4417733e+04, 7.1978870e+03, 7.1993490e+03,
       7.2117020e+03, 7.1787330e+03, 1.7009180e+04, 1.3545250e+04,
       1.6341166e+04, 3.5262460e+03, 7.1784680e+03, 7.1834770e+03,
       7.1980080e+03, 2.8837644e+04, 7.5656000e+03, 6.7853420e+03,
       7.2476240e+03, 1.1600661e+04, 2.7741600e+03, 7.2128660e+03,
       7.1924230e+03, 1.4390267e+04, 1.4394374e+04, 2.8838965e+04,
       7.1735810e+03, 7.2042580e+03, 7.1678100e+03, 1.4407655e+04,
       7.2031100e+03, 7.2313580e+03, 3.9589497e+04, 2.5192626e+04,
       7.2222590e+03, 1.4356420e+04, 1.4427089e+04, 1.4405469e+04,
       1.4372668e+04, 1.4433672e+04, 7.2158190e+03, 1.4698981e+04,
       1.4041172e+04, 7.2534740e+03, 1.4348462e+04, 7.2205430e+03,
       7.2252710e+03, 1.4385127e+04, 7.1710860e+03, 7.2343800e+03,
       7.1635790e+03, 7.2259810e+03, 1.4389491e+04, 7.2161420e+03,
       7.1678580e+03, 7.2106690e+03, 7.2270590e+03, 1.1906271e+04,
       1.7970498e+04, 6.1020100e+03, 7.1837260e+03, 1.4449510e+04,
       7.1948350e+03, 7.2035040e+03, 7.5614080e+03, 2.1220137e+04,
       7.2049980e+03, 7.2086950e+03, 7.1685890e+03, 2.1608414e+04,
       1.4406332e+04, 7.2131340e+03, 7.1965080e+03])

In [121]:
dg

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000

In [122]:
dg = dg.sort_values('hour_series')

In [123]:
dg

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000

In [124]:
dg.time_divide.unique()

array([0.0000000e+00, 4.4805680e+05, 3.5973958e+04, 7.2166090e+03,
       1.4415046e+04, 2.8800173e+04, 2.2699035e+04, 2.4799230e+03,
       1.0826918e+04, 3.5934450e+03, 7.1781200e+03, 1.4415863e+04,
       1.4398689e+04, 2.8788535e+04, 1.4415568e+04, 2.5195263e+04,
       3.5776170e+03, 1.4408112e+04, 2.1600443e+04, 2.1606547e+04,
       7.2312100e+03, 7.1840860e+03, 1.0790560e+04, 7.2124970e+03,
       1.1260018e+04, 1.3949751e+04, 1.7992093e+04, 1.0761424e+04,
       7.2313360e+03, 1.0816918e+04, 1.4351256e+04, 1.3020641e+04,
       1.2198283e+04, 7.1884450e+03, 1.1641587e+04, 1.7197120e+04,
       1.4347548e+04, 1.0823273e+04, 3.5639332e+05, 1.4401211e+04,
       7.2144940e+03, 7.1967300e+03, 6.9356650e+03, 2.6109400e+02,
       7.2315050e+03, 7.1985410e+03, 7.2363870e+03, 7.1479810e+03,
       7.1826630e+03, 1.4381459e+04, 1.4417531e+04, 7.1901230e+03,
       7.2463240e+03, 7.1732460e+03, 1.4654810e+04, 1.4126478e+04,
       1.0804378e+04, 3.6268460e+03, 7.1952280e+03, 1.0788039e+04,
       2.1620565e+04, 2.1578137e+04, 1.0791381e+04, 1.0800855e+04,
       1.0818820e+04, 7.1864290e+03, 1.4415065e+04, 1.0811068e+04,
       1.0781841e+04, 1.8004791e+04, 1.0769849e+04, 1.4421384e+04,
       1.5139147e+04, 6.4455990e+03, 7.2074030e+03, 1.5006119e+04,
       1.3793595e+04, 1.4437012e+04, 2.1593824e+04, 7.1594680e+03,
       7.2482490e+03, 1.4758919e+04, 6.7964890e+03, 2.8838808e+04,
       1.4387134e+04, 7.1794080e+03, 7.2258440e+03, 7.1930430e+03,
       7.2095280e+03, 1.7994796e+04, 3.6056640e+03, 2.2098522e+04,
       6.6775960e+03, 7.1945310e+03, 7.1926010e+03, 7.2058280e+03,
       7.1967560e+03, 2.1625583e+04, 1.4405660e+04, 1.8076809e+04,
       3.4920810e+03, 1.4396731e+04, 7.2185660e+03, 2.8787270e+04,
       7.2036740e+03, 7.1945820e+03, 1.4398684e+04, 1.4449368e+04,
       2.1563688e+04, 7.2322460e+03, 1.4380349e+04, 1.3445376e+04,
       9.7233200e+02, 1.4389679e+04, 1.4378338e+04, 2.1606132e+04,
       6.6464000e+03, 1.8549821e+04, 1.0831595e+04, 7.1828080e+03,
       7.0096630e+03, 1.4577436e+04, 1.4404312e+04, 7.2123420e+03,
       7.1583180e+03, 2.1611088e+04, 7.2223870e+03, 7.1961140e+03,
       7.2193410e+03, 7.1899680e+03, 7.1589210e+03, 7.2338690e+03,
       7.2665000e+03, 1.7784389e+04, 3.7416110e+03, 7.2004970e+03,
       7.2218140e+03, 7.1760230e+03, 6.7983270e+03, 7.6253940e+03,
       1.4366881e+04, 1.4396162e+04, 7.2163370e+03, 7.1899830e+03,
       7.2146200e+03, 7.1783260e+03, 7.2112550e+03, 1.4413560e+04,
       7.1659160e+03, 7.2414010e+03, 7.1651290e+03, 1.4448843e+04,
       1.4342742e+04, 7.2501780e+03, 1.4373734e+04, 1.4433821e+04,
       7.1711580e+03, 1.4396822e+04, 7.1737470e+03, 1.4407630e+04,
       7.2421590e+03, 1.4386994e+04, 7.1774600e+03, 7.2231180e+03,
       7.1740480e+03, 7.2451380e+03, 7.1569270e+03, 7.2328100e+03,
       7.1585180e+03, 1.4427966e+04, 7.1996920e+03, 1.4407261e+04,
       1.4399702e+04, 1.4395903e+04, 2.1591562e+04, 7.1739820e+03,
       7.2100010e+03, 2.1628299e+04, 1.4377916e+04, 1.4381586e+04,
       1.4439698e+04, 7.1856700e+03, 7.2056620e+03, 7.1820160e+03,
       7.2093750e+03, 2.8785198e+04, 7.2386540e+03, 7.1790950e+03,
       7.2022140e+03, 7.2252120e+03, 7.2007110e+03, 7.1958130e+03,
       7.1781650e+03, 7.2083010e+03, 1.4415272e+04, 1.4374101e+04,
       1.4390651e+04, 7.2188840e+03, 7.1901310e+03, 1.4411872e+04,
       1.4377227e+04, 1.4433786e+04, 1.4396448e+04, 1.4414005e+04,
       7.1839390e+03, 7.1694190e+03, 1.4433395e+04, 1.4364340e+04,
       1.4423473e+04, 1.4417352e+04, 1.4403877e+04, 1.4370646e+04,
       7.2288630e+03, 1.6178244e+04, 7.1941760e+03, 1.2623210e+04,
       1.4356682e+04, 1.0826183e+04, 6.9423390e+03, 1.1055600e+04,
       7.1758200e+03, 1.4419109e+04, 7.2183270e+03, 1.4403716e+04,
       1.4386075e+04, 1.4408510e+04, 7.2010870e+03, 7.5086710e+03,
       1.7602668e+04, 1.0860806e+04, 1.4435852e+04, 7.2062690e+03,
       1.4350202e+04, 7.2037950e+03, 1.4439200e+04, 7.1872280e+03,
       7.1699100e+03, 7.2035510e+03, 2.1597945e+04, 7.2399180e+03,
       2.1833027e+04, 1.4170957e+04, 7.1514600e+03, 1.4451460e+04,
       7.1678070e+03, 1.6410473e+04, 5.2031530e+03, 7.1940870e+03,
       7.1750520e+03, 7.2252070e+03, 1.4374575e+04, 7.2260550e+03,
       1.4424449e+04, 7.1590040e+03, 1.4411557e+04, 7.1803920e+03,
       7.1947780e+03, 7.2555900e+03, 7.1672940e+03, 2.1622758e+04,
       1.4353169e+04, 7.2550150e+03, 7.1987460e+03, 7.1748780e+03,
       7.1728920e+03, 7.2330590e+03, 7.1713880e+03, 7.2296610e+03,
       1.4374249e+04, 2.1607761e+04, 7.2035970e+03, 7.2046990e+03,
       7.1825840e+03, 7.2052540e+03, 7.2259170e+03, 7.1986610e+03,
       7.1679590e+03, 1.4406657e+04, 1.4445467e+04, 1.3985902e+04,
       1.4804815e+04, 1.4406542e+04, 7.1890230e+03, 7.1949380e+03,
       1.4417259e+04, 7.1065520e+03, 7.2840030e+03, 1.4355143e+04,
       7.2341600e+03, 7.2094480e+03, 1.4408245e+04, 7.1569060e+03,
       2.1606576e+04, 1.4398224e+04, 7.1904690e+03, 7.2474200e+03,
       7.1453590e+03, 7.2253530e+03, 7.2072710e+03, 7.2251880e+03,
       7.1555460e+03, 1.4392184e+04, 1.4425365e+04, 7.2183570e+03,
       1.4393625e+04, 7.1744510e+03, 7.2200520e+03, 7.2000990e+03,
       7.1977090e+03, 7.2020590e+03, 7.2022090e+03, 7.2189400e+03,
       7.6399960e+03, 6.7222440e+03, 7.2203130e+03, 7.1648740e+03,
       7.1991580e+03, 7.2482840e+03, 7.1761120e+03, 1.4392862e+04,
       2.1613314e+04, 7.2335310e+03, 7.1522670e+03, 7.1832650e+03,
       7.2348890e+03, 7.1957310e+03, 1.4370347e+04, 1.4423351e+04,
       1.4420128e+04, 2.1550586e+04, 7.2380850e+03, 7.1667920e+03,
       7.2351840e+03, 7.1693150e+03, 2.1623955e+04, 1.4416441e+04,
       1.4366847e+04, 7.2067150e+03, 2.1719026e+04, 1.4291018e+04,
       1.4425551e+04, 1.4351716e+04, 7.2334580e+03, 7.1763470e+03,
       7.2258930e+03, 7.1833470e+03, 7.2271790e+03, 2.1580143e+04,
       1.4374800e+04, 1.4416099e+04, 7.1898930e+03, 7.2175730e+03,
       7.1835540e+03, 7.2078030e+03, 8.5572530e+03, 5.8703030e+03,
       1.4382260e+04, 1.4370618e+04, 1.4426617e+04, 7.1986230e+03,
       7.1824240e+03, 7.1897720e+03, 1.4404666e+04, 7.2273340e+03,
       1.4423129e+04, 1.4383009e+04, 1.4368387e+04, 7.1956820e+03,
       7.2065330e+03, 7.2236000e+03, 7.1802110e+03, 7.2114640e+03,
       7.1891960e+03, 1.4403504e+04, 1.4411824e+04, 1.4414928e+04,
       7.1787650e+03, 7.2052710e+03, 7.1764720e+03, 1.4414531e+04,
       7.2135180e+03, 1.4367734e+04, 1.4431249e+04, 1.4422736e+04,
       1.4389465e+04, 1.5029170e+04, 6.5685810e+03, 7.1956130e+03,
       1.4402708e+04, 1.4389754e+04, 1.4415426e+04, 1.4352629e+04,
       7.2374760e+03, 1.4390325e+04, 7.2226760e+03, 2.1552229e+04,
       1.4439178e+04, 7.1880410e+03, 2.1606018e+04, 7.0535760e+03,
       1.4545803e+04, 1.4375981e+04, 2.8843276e+04, 1.4369476e+04,
       6.8004470e+03, 7.5948040e+03, 7.1807990e+03, 7.2305490e+03,
       7.2180170e+03, 7.1548390e+03, 7.2383900e+03, 1.4375733e+04,
       2.1603029e+04, 1.4421458e+04, 7.1697130e+03, 7.2205030e+03,
       1.4385198e+04, 1.4417053e+04, 1.4399158e+04, 7.2212610e+03,
       7.4396140e+03, 6.9522360e+03, 7.1821560e+03, 7.1766210e+03,
       7.2449560e+03, 7.1754240e+03, 7.1991840e+03, 1.4375550e+04,
       1.4439856e+04, 1.4399669e+04, 2.1584364e+04, 7.1947940e+03,
       7.1892870e+03, 1.4407610e+04, 7.2277110e+03, 7.1711890e+03,
       7.2276880e+03, 7.1824670e+03, 1.4395202e+04, 1.4425923e+04,
       2.1603195e+04, 1.4357840e+04, 1.4421064e+04, 1.4408598e+04,
       1.4402785e+04, 7.1905700e+03, 7.1926870e+03, 6.4804237e+04,
       6.2804870e+03, 1.5336207e+04, 1.4405943e+04, 1.4398681e+04,
       1.4379140e+04, 7.1807960e+03, 1.4426505e+04, 1.4388146e+04,
       7.1796040e+03, 1.4449634e+04, 1.4366659e+04, 2.1620655e+04,
       7.1864410e+03, 7.2268680e+03, 1.4396688e+04, 7.1887410e+03,
       1.4399640e+04, 1.4403045e+04, 7.2115820e+03, 7.5360500e+03,
       1.4021908e+04, 7.2152400e+03, 1.4428803e+04, 1.4347246e+04,
       7.2304450e+03, 7.2234690e+03, 7.1626840e+03, 7.1972310e+03,
       7.1838090e+03, 1.4429339e+04, 7.1953430e+03, 1.4379996e+04,
       7.2071430e+03, 7.2151310e+03, 7.2273540e+03, 7.1682640e+03,
       7.1782180e+03, 7.2480920e+03, 7.1962140e+03, 1.4394074e+04,
       1.2252261e+04, 2.1535850e+03, 7.1859590e+03, 6.9857100e+03,
       2.9033716e+04, 1.4395773e+04, 1.4410267e+04, 2.1566485e+04,
       7.2300850e+03, 1.4349493e+04, 7.2276050e+03, 7.1950950e+03,
       1.4417379e+04, 7.1726680e+03, 7.2151300e+03, 7.2272010e+03,
       7.1692510e+03, 1.4399617e+04, 1.4410698e+04, 7.1806850e+03,
       1.4385205e+04, 7.2196810e+03, 1.4416791e+04, 7.1974720e+03,
       6.7069210e+03, 7.7053730e+03, 7.2022800e+03, 2.8750955e+04,
       1.4431736e+04, 1.4393585e+04, 2.1606746e+04, 3.5812880e+03,
       3.6012230e+03, 1.4402358e+04, 7.2325570e+03, 7.1713970e+03,
       7.2174680e+03, 7.1714930e+03, 7.2356120e+03, 7.2099910e+03,
       7.1683230e+03, 7.2099140e+03, 7.2129850e+03, 7.1770010e+03,
       1.4372670e+04, 1.4430298e+04, 2.8799401e+04, 7.2174870e+03,
       7.1578020e+03, 7.2182860e+03, 7.1804520e+03, 7.0475320e+03,
       7.3725930e+03, 1.4377691e+04, 7.2456370e+03, 7.2065130e+03,
       1.4363230e+04, 7.2376860e+03, 1.8723896e+04, 2.8381820e+03,
       7.2298090e+03, 7.1761350e+03, 7.2075620e+03, 1.4394486e+04,
       7.2084300e+03, 7.1835230e+03, 7.2319750e+03, 2.1569307e+04,
       7.1856470e+03, 1.4435429e+04, 1.4408157e+04, 1.4367744e+04,
       1.4438260e+04, 2.1570513e+04, 7.1945840e+03, 1.4420216e+04,
       2.8769513e+04, 1.4402407e+04, 2.1646276e+04, 2.1588580e+04,
       2.8810402e+04, 1.4365144e+04, 7.2045520e+03, 1.4386630e+04,
       7.2288800e+03, 1.4687441e+04, 7.1641170e+03, 1.4136689e+04,
       7.1998040e+03, 1.4417733e+04, 7.1978870e+03, 7.1993490e+03,
       7.2117020e+03, 7.1787330e+03, 1.7009180e+04, 1.3545250e+04,
       1.6341166e+04, 3.5262460e+03, 7.1784680e+03, 7.1834770e+03,
       7.1980080e+03, 2.8837644e+04, 7.5656000e+03, 6.7853420e+03,
       7.2476240e+03, 1.1600661e+04, 2.7741600e+03, 7.2128660e+03,
       7.1924230e+03, 1.4390267e+04, 1.4394374e+04, 2.8838965e+04,
       7.1735810e+03, 7.2042580e+03, 7.1678100e+03, 1.4407655e+04,
       7.2031100e+03, 7.2313580e+03, 3.9589497e+04, 2.5192626e+04,
       7.2222590e+03, 1.4356420e+04, 1.4427089e+04, 1.4405469e+04,
       1.4372668e+04, 1.4433672e+04, 7.2158190e+03, 1.4698981e+04,
       1.4041172e+04, 7.2534740e+03, 1.4348462e+04, 7.2205430e+03,
       7.2252710e+03, 1.4385127e+04, 7.1710860e+03, 7.2343800e+03,
       7.1635790e+03, 7.2259810e+03, 1.4389491e+04, 7.2161420e+03,
       7.1678580e+03, 7.2106690e+03, 7.2270590e+03, 1.1906271e+04,
       1.7970498e+04, 6.1020100e+03, 7.1837260e+03, 1.4449510e+04,
       7.1948350e+03, 7.2035040e+03, 7.5614080e+03, 2.1220137e+04,
       7.2049980e+03, 7.2086950e+03, 7.1685890e+03, 2.1608414e+04,
       1.4406332e+04, 7.2131340e+03, 7.1965080e+03])

In [125]:
dg = dg.sort_values('hour_series')

In [126]:
dg

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000

In [127]:
dg.columns

Index(['actual_DOB', 'uhid', 'dischargeddate', 'actual_DOA', 'gender',
       'birthweight', 'birthlength', 'birthheadcircumference',
       'inout_patient_status', 'gestationweekbylmp', 'gestationdaysbylmp',
       'baby_type', 'central_temp', 'apgar_onemin', 'apgar_fivemin',
       'apgar_tenmin', 'motherage', 'conception_type', 'mode_of_delivery',
       'steroidname', 'numberofdose', 'dischargestatus', 'birthlength',
       'birthheadcircumference', 'inout_patient_status', 'gestationweekbylmp',
       'gestationdaysbylmp', 'baby_type', 'central_temp', 'apgar_onemin',
       'apgar_fivemin', 'apgar_tenmin', 'motherage', 'conception_type',
       'mode_of_delivery', 'steroidname', 'numberofdose', 'los', 'day_1',
       'hour_series', 'hour', 'day_x', 'abdomen_girth', 'urine', 'stool',
       'stool_passed', 'entry_timestamp', 'day_y', 'time_divide'],
      dtype='object')

In [128]:
dg.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_new_1.csv')

In [129]:
dg

,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,dischargestatus,birthlength,birthheadcircumference,inout_patient_status,gestationweekbylmp,gestationdaysbylmp,baby_type,central_temp,apgar_onemin,apgar_fivemin,apgar_tenmin,motherage,conception_type,mode_of_delivery,steroidname,numberofdose,los,day_1,hour_series,hour,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide
0,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:33:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
1,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:34:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
2,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:35:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
3,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:36:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
4,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-08-21 16:37:00,2018-08-21 16,2018-08-21,NaN,NaN,NaN,NaN,NaT,NaN,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:00:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508
133768,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:01:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133769,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:02:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133770,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:03:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000
133771,2018-08-21 12:07:00,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00,Male,691.0,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,Discharge,None,None,In Born,25,6,Twins,None,None,None,None,34,ivf,LSCS,None,None,92 days 21:31:10.942000,92.896654,2018-11-22 14:04:00,2018-11-22 14,2018-11-22,29.5,35,None,None,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000