In [311]:
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import timedelta

%matplotlib inline

con = psycopg2.connect (user = 'postgres',
                password = 'postgres',
                port = '5432',
                host = 'localhost',
                database = 'inicudb')

cur  = con.cursor()

In [312]:
uhidPatient = "('200700003','200700160','200700148','200700206','200700207')" 

#uhidPatient = "RSHI.0000012984"
caseType = 'Death'
#caseType = 'Discharge'
seperator = '_'

In [313]:
data = pd.read_csv('intermediate_checkpoint_apollo_5_9july.csv')

In [314]:
data['series'] = data.hour_series

In [315]:
data.columns

Index(['Unnamed: 0', 'actual_DOB', 'uhid', 'dischargeddate', 'actual_DOA',
       'gender', 'birthweight', 'birthlength', 'birthheadcircumference',
       'inout_patient_status', 'gestationweekbylmp', 'gestationdaysbylmp',
       'baby_type', 'central_temp', 'apgar_onemin', 'apgar_fivemin',
       'apgar_tenmin', 'motherage', 'conception_type', 'mode_of_delivery',
       'steroidname', 'numberofdose', 'dischargestatus', 'birthlength.1',
       'birthheadcircumference.1', 'inout_patient_status.1',
       'gestationweekbylmp.1', 'gestationdaysbylmp.1', 'baby_type.1',
       'central_temp.1', 'apgar_onemin.1', 'apgar_fivemin.1', 'apgar_tenmin.1',
       'motherage.1', 'conception_type.1', 'mode_of_delivery.1',
       'steroidname.1', 'numberofdose.1', 'los', 'day_1', 'hour_series',
       'hour', 'day_x', 'abdomen_girth', 'urine', 'stool', 'stool_passed',
       'entry_timestamp', 'day_y', 'time_divide', 'series'],
      dtype='object')

In [316]:
data.urine.unique()

array([nan, 20., 30., 10., 60.,  8., 15., 25., 40.,  0., 12., 18., 22.,
       16., 32., 50.,  9., 24., 13., 11., 17., 23.])

In [317]:
print(data.uhid.unique())

[2.00700003e+08 2.00700148e+08 2.00700206e+08 2.00700207e+08
 2.00700160e+08            nan]

In [318]:
print(data)

       Unnamed: 0           actual_DOB         uhid       dischargeddate  \
0               0  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
1               1  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
2               2  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
3               3  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
4               4  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
5               5  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
6               6  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
7               7  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
8               8  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
9               9  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
10             10  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
11             11  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
12             12  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
13             13  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
14             14  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
15             15  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
16             16  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
17             17  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
18             18  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
19             19  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
20             20  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
21             21  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
22             22  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
23             23  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
24             24  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
25             25  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
26             26  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
27             27  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
28             28  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
29             29  2020-07-01 04:07:00  200700003.0  2020-07-09 23:00:00
...           ...                  ...          ...                  ...
47980       47980                  NaN          NaN                  NaN
47981       47981                  NaN          NaN                  NaN
47982       47982                  NaN          NaN                  NaN
47983       47983                  NaN          NaN                  NaN
47984       47984                  NaN          NaN                  NaN
47985       47985                  NaN          NaN                  NaN
47986       47986                  NaN          NaN                  NaN
47987       47987                  NaN          NaN                  NaN
47988       47988                  NaN          NaN                  NaN
47989       47989                  NaN          NaN                  NaN
47990       47990                  NaN          NaN                  NaN
47991       47991                  NaN          NaN                  NaN
47992       47992                  NaN          NaN                  NaN
47993       47993                  NaN          NaN                  NaN
47994       47994                  NaN          NaN                  NaN
47995       47995                  NaN          NaN                  NaN
47996       47996                  NaN          NaN                  NaN
47997       47997                  NaN          NaN                  NaN
47998       47998                  NaN          NaN                  NaN
47999       47999                  NaN          NaN                  NaN
48000       48000                  NaN          NaN                  NaN
48001       48001                  NaN          NaN                  NaN
48002       48002                  NaN          NaN                  NaN
48003       48003                  NaN          NaN                  NaN
48004       48004                  NaN          NaN                  NaN
48005       48005                  NaN          NaN                  NaN
48006       48006                  NaN          NaN                  NaN
48007       48007                  NaN          NaN                  NaN
48008       48008                  NaN          NaN                  NaN
48009       48009                  NaN          NaN                  NaN

                actual_DOA gender  birthweight  birthlength  \
0      2020-07-01 04:28:00   Male       1390.0         39.0
1      2020-07-01 04:28:00   Male       1390.0         39.0
2      2020-07-01 04:28:00   Male       1390.0         39.0
3      2020-07-01 04:28:00   Male       1390.0         39.0
4      2020-07-01 04:28:00   Male       1390.0         39.0
5      2020-07-01 04:28:00   Male       1390.0         39.0
6      2020-07-01 04:28:00   Male       1390.0         39.0
7      2020-07-01 04:28:00   Male       1390.0         39.0
8      2020-07-01 04:28:00   Male       1390.0         39.0
9      2020-07-01 04:28:00   Male       1390.0         39.0
10     2020-07-01 04:28:00   Male       1390.0         39.0
11     2020-07-01 04:28:00   Male       1390.0         39.0
12     2020-07-01 04:28:00   Male       1390.0         39.0
13     2020-07-01 04:28:00   Male       1390.0         39.0
14     2020-07-01 04:28:00   Male       1390.0         39.0
15     2020-07-01 04:28:00   Male       1390.0         39.0
16     2020-07-01 04:28:00   Male       1390.0         39.0
17     2020-07-01 04:28:00   Male       1390.0         39.0
18     2020-07-01 04:28:00   Male       1390.0         39.0
19     2020-07-01 04:28:00   Male       1390.0         39.0
20     2020-07-01 04:28:00   Male       1390.0         39.0
21     2020-07-01 04:28:00   Male       1390.0         39.0
22     2020-07-01 04:28:00   Male       1390.0         39.0
23     2020-07-01 04:28:00   Male       1390.0         39.0
24     2020-07-01 04:28:00   Male       1390.0         39.0
25     2020-07-01 04:28:00   Male       1390.0         39.0
26     2020-07-01 04:28:00   Male       1390.0         39.0
27     2020-07-01 04:28:00   Male       1390.0         39.0
28     2020-07-01 04:28:00   Male       1390.0         39.0
29     2020-07-01 04:28:00   Male       1390.0         39.0
...                    ...    ...          ...          ...
47980                  NaN    NaN          NaN          NaN
47981                  NaN    NaN          NaN          NaN
47982                  NaN    NaN          NaN          NaN
47983                  NaN    NaN          NaN          NaN
47984                  NaN    NaN          NaN          NaN
47985                  NaN    NaN          NaN          NaN
47986                  NaN    NaN          NaN          NaN
47987                  NaN    NaN          NaN          NaN
47988                  NaN    NaN          NaN          NaN
47989                  NaN    NaN          NaN          NaN
47990                  NaN    NaN          NaN          NaN
47991                  NaN    NaN          NaN          NaN
47992                  NaN    NaN          NaN          NaN
47993                  NaN    NaN          NaN          NaN
47994                  NaN    NaN          NaN          NaN
47995                  NaN    NaN          NaN          NaN
47996                  NaN    NaN          NaN          NaN
47997                  NaN    NaN          NaN          NaN
47998                  NaN    NaN          NaN          NaN
47999                  NaN    NaN          NaN          NaN
48000                  NaN    NaN          NaN          NaN
48001                  NaN    NaN          NaN          NaN
48002                  NaN    NaN          NaN          NaN
48003                  NaN    NaN          NaN          NaN
48004                  NaN    NaN          NaN          NaN
48005                  NaN    NaN          NaN          NaN
48006                  NaN    NaN          NaN          NaN
48007                  NaN    NaN          NaN          NaN
48008                  NaN    NaN          NaN          NaN
48009                  NaN    NaN          NaN          NaN

       birthheadcircumference inout_patient_status  ...           hour  \
0                        30.0              In Born  ...  2020-07-01 04
1                        30.0              In Born  ...  2020-07-01 04
2                        30.0              In Born  ...  2020-07-01 04
3                        30.0              In Born  ...  2020-07-01 04
4                        30.0              In Born  ...  2020-07-01 04
5                        30.0              In Born  ...  2020-07-01 04
6                        30.0              In Born  ...  2020-07-01 04
7                        30.0              In Born  ...  2020-07-01 04
8                        30.0              In Born  ...  2020-07-01 04
9                        30.0              In Born  ...  2020-07-01 04
10                       30.0              In Born  ...  2020-07-01 04
11                       30.0              In Born  ...  2020-07-01 04
12                       30.0              In Born  ...  2020-07-01 04
13                       30.0              In Born  ...  2020-07-01 04
14                       30.0              In Born  ...  2020-07-01 04
15                       30.0              In Born  ...  2020-07-01 04
16                       30.0              In Born  ...  2020-07-01 04
17                       30.0              In Born  ...  2020-07-01 04
18                       30.0              In Born  ...  2020-07-01 04
19                       30.0              In Born  ...  2020-07-01 04
20                       30.0              In Born  ...  2020-07-01 04
21                       30.0              In Born  ...  2020-07-01 04
22                       30.0              In Born  ...  2020-07-01 04
23                       30.0              In Born  ...  2020-07-01 04
24                       30.0              In Born  ...  2020-07-01 04
25                       30.0              In Born  ...  2020-07-01 04
26                       30.0              In Born  ...  2020-07-01 04
27                       30.0              In Born  ...  2020-07-01 04
28                       30.0              In Born  ...  2020-07-01 04
29                       30.0              In Born  ...  2020-07-01 04
...                       ...                  ...  ...            ...
47980                     NaN                  NaN  ...            NaN
47981                     NaN                  NaN  ...            NaN
47982                     NaN                  NaN  ...            NaN
47983                     NaN                  NaN  ...            NaN
47984                     NaN                  NaN  ...            NaN
47985                     NaN                  NaN  ...            NaN
47986                     NaN                  NaN  ...            NaN
47987                     NaN                  NaN  ...            NaN
47988                     NaN                  NaN  ...            NaN
47989                     NaN                  NaN  ...            NaN
47990                     NaN                  NaN  ...            NaN
47991                     NaN                  NaN  ...            NaN
47992                     NaN                  NaN  ...            NaN
47993                     NaN                  NaN  ...            NaN
47994                     NaN                  NaN  ...            NaN
47995                     NaN                  NaN  ...            NaN
47996                     NaN                  NaN  ...            NaN
47997                     NaN                  NaN  ...            NaN
47998                     NaN                  NaN  ...            NaN
47999                     NaN                  NaN  ...            NaN
48000                     NaN                  NaN  ...            NaN
48001                     NaN                  NaN  ...            NaN
48002                     NaN                  NaN  ...            NaN
48003                     NaN                  NaN  ...            NaN
48004                     NaN                  NaN  ...            NaN
48005                     NaN                  NaN  ...            NaN
48006                     NaN                  NaN  ...            NaN
48007                     NaN                  NaN  ...            NaN
48008                     NaN                  NaN  ...            NaN
48009                     NaN                  NaN  ...            NaN

            day_x abdomen_girth  urine  stool  stool_passed  entry_timestamp  \
0      2020-07-01           NaN    NaN    NaN           NaN              NaN
1      2020-07-01           NaN    NaN    NaN           NaN              NaN
2      2020-07-01           NaN    NaN    NaN           NaN              NaN
3      2020-07-01           NaN    NaN    NaN           NaN              NaN
4      2020-07-01           NaN    NaN    NaN           NaN              NaN
5      2020-07-01           NaN    NaN    NaN           NaN              NaN
6      2020-07-01           NaN    NaN    NaN           NaN              NaN
7      2020-07-01           NaN    NaN    NaN           NaN              NaN
8      2020-07-01           NaN    NaN    NaN           NaN              NaN
9      2020-07-01           NaN    NaN    NaN           NaN              NaN
10     2020-07-01           NaN    NaN    NaN           NaN              NaN
11     2020-07-01           NaN    NaN    NaN           NaN              NaN
12     2020-07-01           NaN    NaN    NaN           NaN              NaN
13     2020-07-01           NaN    NaN    NaN           NaN              NaN
14     2020-07-01           NaN    NaN    NaN           NaN              NaN
15     2020-07-01           NaN    NaN    NaN           NaN              NaN
16     2020-07-01           NaN    NaN    NaN           NaN              NaN
17     2020-07-01           NaN    NaN    NaN           NaN              NaN
18     2020-07-01           NaN    NaN    NaN           NaN              NaN
19     2020-07-01           NaN    NaN    NaN           NaN              NaN
20     2020-07-01           NaN    NaN    NaN           NaN              NaN
21     2020-07-01           NaN    NaN    NaN           NaN              NaN
22     2020-07-01           NaN    NaN    NaN           NaN              NaN
23     2020-07-01           NaN    NaN    NaN           NaN              NaN
24     2020-07-01           NaN    NaN    NaN           NaN              NaN
25     2020-07-01           NaN    NaN    NaN           NaN              NaN
26     2020-07-01           NaN    NaN    NaN           NaN              NaN
27     2020-07-01           NaN    NaN    NaN           NaN              NaN
28     2020-07-01           NaN    NaN    NaN           NaN              NaN
29     2020-07-01           NaN    NaN    NaN           NaN              NaN
...           ...           ...    ...    ...           ...              ...
47980         NaN           NaN    NaN    NaN           NaN              NaN
47981         NaN           NaN    NaN    NaN           NaN              NaN
47982         NaN           NaN    NaN    NaN           NaN              NaN
47983         NaN           NaN    NaN    NaN           NaN              NaN
47984         NaN           NaN    NaN    NaN           NaN              NaN
47985         NaN           NaN    NaN    NaN           NaN              NaN
47986         NaN           NaN    NaN    NaN           NaN              NaN
47987         NaN           NaN    NaN    NaN           NaN              NaN
47988         NaN           NaN    NaN    NaN           NaN              NaN
47989         NaN           NaN    NaN    NaN           NaN              NaN
47990         NaN           NaN    NaN    NaN           NaN              NaN
47991         NaN           NaN    NaN    NaN           NaN              NaN
47992         NaN           NaN    NaN    NaN           NaN              NaN
47993         NaN           NaN    NaN    NaN           NaN              NaN
47994         NaN           NaN    NaN    NaN           NaN              NaN
47995         NaN           NaN    NaN    NaN           NaN              NaN
47996         NaN           NaN    NaN    NaN           NaN              NaN
47997         NaN           NaN    NaN    NaN           NaN              NaN
47998         NaN           NaN    NaN    NaN           NaN              NaN
47999         NaN           NaN    NaN    NaN           NaN              NaN
48000         NaN           NaN    NaN    NaN           NaN              NaN
48001         NaN           NaN    NaN    NaN           NaN              NaN
48002         NaN           NaN    NaN    NaN           NaN              NaN
48003         NaN           NaN    NaN    NaN           NaN              NaN
48004         NaN           NaN    NaN    NaN           NaN              NaN
48005         NaN           NaN    NaN    NaN           NaN              NaN
48006         NaN           NaN    NaN    NaN           NaN              NaN
48007         NaN           NaN    NaN    NaN           NaN              NaN
48008         NaN           NaN    NaN    NaN           NaN              NaN
48009         NaN           NaN    NaN    NaN           NaN              NaN

       day_y time_divide               series
0        NaN         0.0  2020-07-01 04:28:00
1        NaN         0.0  2020-07-01 04:29:00
2        NaN         0.0  2020-07-01 04:30:00
3        NaN         0.0  2020-07-01 04:31:00
4        NaN         0.0  2020-07-01 04:32:00
5        NaN         0.0  2020-07-01 04:33:00
6        NaN         0.0  2020-07-01 04:34:00
7        NaN         0.0  2020-07-01 04:35:00
8        NaN         0.0  2020-07-01 04:36:00
9        NaN         0.0  2020-07-01 04:37:00
10       NaN         0.0  2020-07-01 04:38:00
11       NaN         0.0  2020-07-01 04:39:00
12       NaN         0.0  2020-07-01 04:40:00
13       NaN         0.0  2020-07-01 04:41:00
14       NaN         0.0  2020-07-01 04:42:00
15       NaN         0.0  2020-07-01 04:43:00
16       NaN         0.0  2020-07-01 04:44:00
17       NaN         0.0  2020-07-01 04:45:00
18       NaN         0.0  2020-07-01 04:46:00
19       NaN         0.0  2020-07-01 04:47:00
20       NaN         0.0  2020-07-01 04:48:00
21       NaN         0.0  2020-07-01 04:49:00
22       NaN         0.0  2020-07-01 04:50:00
23       NaN         0.0  2020-07-01 04:51:00
24       NaN         0.0  2020-07-01 04:52:00
25       NaN         0.0  2020-07-01 04:53:00
26       NaN         0.0  2020-07-01 04:54:00
27       NaN         0.0  2020-07-01 04:55:00
28       NaN         0.0  2020-07-01 04:56:00
29       NaN         0.0  2020-07-01 04:57:00
...      ...         ...                  ...
47980    NaN         0.0                  NaN
47981    NaN         0.0                  NaN
47982    NaN         0.0                  NaN
47983    NaN         0.0                  NaN
47984    NaN         0.0                  NaN
47985    NaN         0.0                  NaN
47986    NaN         0.0                  NaN
47987    NaN         0.0                  NaN
47988    NaN         0.0                  NaN
47989    NaN         0.0                  NaN
47990    NaN         0.0                  NaN
47991    NaN         0.0                  NaN
47992    NaN         0.0                  NaN
47993    NaN         0.0                  NaN
47994    NaN         0.0                  NaN
47995    NaN         0.0                  NaN
47996    NaN         0.0                  NaN
47997    NaN         0.0                  NaN
47998    NaN         0.0                  NaN
47999    NaN         0.0                  NaN
48000    NaN         0.0                  NaN
48001    NaN         0.0                  NaN
48002    NaN         0.0                  NaN

In [319]:
data.time_divide.unique()

array([    0.   , 67926.231,  9161.544, 15695.336, 14177.385,  6158.858,
        5412.405, 17213.568,  6338.285,  5819.254,  7532.576, 21921.13 ,
        7262.306, 10701.935,  4991.719,  5019.998,  8797.234,  8147.022,
        4016.963, 19465.942,  2975.048,  8440.239, 13833.14 , 14833.706,
        6189.245,  9454.75 ,  7432.724,  6293.251, 15225.602, 13523.818,
        8113.174, 15612.621,  3659.78 , 31335.109,  5371.569,  7324.922,
       15107.769,  7507.39 , 20784.043,  7091.707,  9748.085,  7214.051,
        5138.189, 13349.124, 14592.792, 17490.681,  4777.271,  8791.391,
       12067.345,  9325.955, 12267.071, 13249.638,  7078.558,  8521.531,
       14758.633,  7044.721, 13417.279,  8694.653,  5025.666,  7759.91 ,
       10783.802,  6088.963,  5909.657,  7627.733,  7482.896, 57868.352,
       15691.813, 14334.069,  7929.152, 13956.866, 21476.22 ,  8133.036,
       19077.778,  6187.489, 15640.928, 15090.716,  6883.871,  6174.077,
       10189.675,  6642.52 , 20170.397, 24312.161, 14314.407, 19201.408,
       22034.122,  8199.698, 34313.562, 13197.14 ,  7360.365,  9600.032,
       13614.259,  7024.397,  3022.468, 10054.221,  8857.897, 13097.474,
       10569.296,  6023.011,  6069.284,  7587.363,  7415.696,  7686.486,
       36848.85 , 27633.652, 15964.942, 22404.132, 15868.7  ,  6749.423,
        5500.465, 39054.079, 14294.585, 19647.345, 15716.795, 14022.157,
        5046.101, 29195.936, 13255.862,  7532.975,  9263.972, 13896.956,
        6970.646, 13683.797,  8272.261, 13016.334, 10679.896,  5968.642,
        5972.856,  7621.082,  7399.932, 13995.678,  3941.145, 45415.272,
       15642.837,  3628.012, 11983.241,  4068.663,  8575.387,  6541.716,
        8733.122,  4322.672,  9822.26 ,  7085.955,  5241.548, 14884.219,
       48823.618,  8944.711, 17378.594,  4747.755,  8426.214, 21796.573,
       25666.011, 16073.132, 13873.925,  7037.954, 22386.898,  5164.442,
        7669.674, 10894.613,  5354.677,  6645.329,  7616.633, 15069.545,
        6523.201,  3207.806, 55410.567, 13195.07 , 14143.767, 14372.112,
       18691.87 ,  7531.178, 54477.534,  8273.965, 13136.427, 10770.724,
       19373.219])

In [320]:
def split_date(x):
    try:
        t=str(x)
        return t.split(":")[0] + ":" + t.split(":")[1]
    except:
        pass

def split_hour(x):
    try:
        t=str(x)
        return t.split(":")[0]
    except:
        pass
    
def split_date_1(x):
    try:
        t=str(x)
        return str(t.split(" ")[0])
    except:
        pass

In [321]:
def urine_check(x):
    try:
        if x > 200:
            return x/10
        else:
            return x
    except:
        pass

In [322]:
def to_float(x):
    if x == '':
        return np.nan
    else:
        return float(x)

In [323]:
dg = data.copy()

In [324]:
dg['urine'] = dg['urine'].apply(to_float)

In [325]:
dg['urine'] = dg['urine'].apply(urine_check)

In [326]:
dg['urine_per_hour'] = dg['urine']/((dg['time_divide'])/(3600))

In [327]:
dt = dg.sort_values(by = ['uhid','hour_series'])

In [328]:
ds = pd.DataFrame()

In [329]:
for i in dt.uhid.unique():
    x = dt[dt['uhid']==i]
    x['urine_per_hour'].fillna(method='bfill',inplace=True)
    ds = ds.append(x,ignore_index=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [330]:
cur1 = con.cursor()
cur1.execute("SELECT uhid,creationtime,modificationtime,ph,entrydate FROM kalawati.nursing_bloodgas where uhid IN "+uhidPatient+";")
cols1 = list(map(lambda x: x[0],cur1.description))
ph = pd.DataFrame(cur1.fetchall(),columns=cols1)

In [331]:
ph

Empty DataFrame
Columns: [uhid, creationtime, modificationtime, ph, entrydate]
Index: []

In [332]:
ph

Empty DataFrame
Columns: [uhid, creationtime, modificationtime, ph, entrydate]
Index: []

In [333]:
def ph_func(x):
    try:
        p = float(x)
        if p>=6.80 and p<=7.8:
            return p
        else:
            return None
    except:
        pass

In [334]:
ph

Empty DataFrame
Columns: [uhid, creationtime, modificationtime, ph, entrydate]
Index: []

In [335]:
ph['new_ph'] = ph.ph.apply(ph_func)

In [336]:
ph.dropna(subset=['new_ph'],inplace=True)

In [337]:
ph_df = pd.DataFrame()
for i in ph.uhid.unique():
    x = ph[ph['uhid']==i]
    ph_df = ph_df.append(x,ignore_index=True)

In [147]:
ph

Empty DataFrame
Columns: [uhid, creationtime, modificationtime, ph, entrydate, new_ph]
Index: []

In [148]:
ph_df

Empty DataFrame
Columns: []
Index: []

In [149]:
#ph_df = pd.DataFrame(columns = ph.columns)

In [150]:
ph_df

Empty DataFrame
Columns: []
Index: []

In [338]:
ph_df_1 = None

In [339]:
if len(ph_df.columns)>0:
    ph_df['hour'] = ph_df.entrydate.apply(split_hour)
    ph_df.drop_duplicates(subset=['uhid','hour'],keep='last',inplace=True)
else:
    x = pd.DataFrame(data=[uhidPatient],columns={'uhid'})
    print(x)
    ph_df_1 = pd.DataFrame(columns=ph.columns)
    ph_df_1 = ph_df_1.append(x,ignore_index=True)

                                                uhid
0  ('200700003','200700160','200700148','20070020...

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [340]:
if not(ph_df_1 is None) and len(ph_df_1.columns)>0 :
    ph_df_1

In [341]:
type(ds.uhid[0])

numpy.float64

In [342]:
ds['uhid'] = ds['uhid'].astype(str)

In [343]:
ds.uhid.unique()

array(['200700003.0', '200700148.0', '200700160.0', '200700206.0',
       '200700207.0'], dtype=object)

In [344]:
ph_df.uhid.unique()

AttributeError: 'DataFrame' object has no attribute 'uhid'

In [345]:
if len(ph_df.columns)>0:
    ss = pd.merge(ds,ph_df,on=['uhid','hour'],how='left')
    ss = ss.drop_duplicates(subset=['uhid','hour_series'],keep='first')
else:
    ss = pd.merge(ds,ph_df_1,on=['uhid'],how='left')
    ss = ss.drop_duplicates(subset=['uhid','hour_series'],keep='first')

In [346]:
ss.uhid.unique()

array(['200700003.0', '200700148.0', '200700160.0', '200700206.0',
       '200700207.0'], dtype=object)

In [158]:
ss

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,entry_timestamp,day_y,time_divide,series,urine_per_hour,creationtime,entrydate,modificationtime,new_ph,ph
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:28:00,1.059973,NaN,NaN,NaN,NaN,NaN
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:29:00,1.059973,NaN,NaN,NaN,NaN,NaN
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:30:00,1.059973,NaN,NaN,NaN,NaN,NaN
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:31:00,1.059973,NaN,NaN,NaN,NaN,NaN
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:32:00,1.059973,NaN,NaN,NaN,NaN,NaN
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:33:00,1.059973,NaN,NaN,NaN,NaN,NaN
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:34:00,1.059973,NaN,NaN,NaN,NaN,NaN
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:35:00,1.059973,NaN,NaN,NaN,NaN,NaN
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:36:00,1.059973,NaN,NaN,NaN,NaN,NaN
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:37:00,1.059973,NaN,NaN,NaN,NaN,NaN
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:38:00,1.059973,NaN,NaN,NaN,NaN,NaN
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:39:00,1.059973,NaN,NaN,NaN,NaN,NaN
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:40:00,1.059973,NaN,NaN,NaN,NaN,NaN
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:41:00,1.059973,NaN,NaN,NaN,NaN,NaN
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:42:00,1.059973,NaN,NaN,NaN,NaN,NaN
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:43:00,1.059973,NaN,NaN,NaN,NaN,NaN
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:44:00,1.059973,NaN,NaN,NaN,NaN,NaN
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:45:00,1.059973,NaN,NaN,NaN,NaN,NaN
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:46:00,1.059973,NaN,NaN,NaN,NaN,NaN
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:47:00,1.059973,NaN,NaN,NaN,NaN,NaN
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:48:00,1.059973,NaN,NaN,NaN,NaN,NaN
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:49:00,1.059973,NaN,NaN,NaN,NaN,NaN
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:50:00,1.059973,NaN,NaN,NaN,NaN,NaN
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:51:00,1.059973,NaN,NaN,NaN,NaN,NaN
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:52:00,1.059973,NaN,NaN,NaN,NaN,NaN
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:53:00,1.059973,NaN,NaN,NaN,NaN,NaN
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:54:00,1.059973,NaN,NaN,NaN,NaN,NaN
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:55:00,1.059973,NaN,NaN,NaN,NaN,NaN
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:56:00,1.059973,NaN,NaN,NaN,NaN,NaN
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,0.0,2020-07-01 04:57:00,1.059973,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41376,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN
41377,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:31:00,NaN,NaN,NaN,NaN,NaN,NaN
41378,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:32:00,NaN,NaN,NaN,NaN,NaN,NaN
41379,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:33:00,NaN,NaN,NaN,NaN,NaN,NaN
41380,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:34:00,NaN,NaN,NaN,NaN,NaN,NaN
41381,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:35:00,NaN,NaN,NaN,NaN,NaN,NaN
41382,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:36:00,NaN,NaN,NaN,NaN,NaN,NaN
41383,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:37:00,NaN,NaN,NaN,NaN,NaN,NaN
41384,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:38:00,NaN,NaN,NaN,NaN,NaN,NaN
41385,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:39:00,NaN,NaN,NaN,NaN,NaN,NaN
41386,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:40:00,NaN,NaN,NaN,NaN,NaN,NaN
41387,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:41:00,NaN,NaN,NaN,NaN,NaN,NaN
41388,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:42:00,NaN,NaN,NaN,NaN,NaN,NaN
41389,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:43:00,NaN,NaN,NaN,NaN,NaN,NaN
41390,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:44:00,NaN,NaN,NaN,NaN,NaN,NaN
41391,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN
41392,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:46:00,NaN,NaN,NaN,NaN,NaN,NaN
41393,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:47:00,NaN,NaN,NaN,NaN,NaN,NaN
41394,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:48:00,NaN,NaN,NaN,NaN,NaN,NaN
41395,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:49:00,NaN,NaN,NaN,NaN,NaN,NaN
41396,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:50:00,NaN,NaN,NaN,NaN,NaN,NaN
41397,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:51:00,NaN,NaN,NaN,NaN,NaN,NaN
41398,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:52:00,NaN,NaN,NaN,NaN,NaN,NaN
41399,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:53:00,NaN,NaN,NaN,NaN,NaN,NaN
41400,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:54:00,NaN,NaN,NaN,NaN,NaN,NaN
41401,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:55:00,NaN,NaN,NaN,NaN,NaN,NaN
41402,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:56:00,NaN,NaN,NaN,NaN,NaN,NaN
41403,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:57:00,NaN,NaN,NaN,NaN,NaN,NaN
41404,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:58:00,NaN,NaN,NaN,NaN,NaN,NaN
41405,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,0.0,2020-07-09 22:59:00,NaN,NaN,NaN,NaN,NaN,NaN

In [347]:
len(ss.uhid.unique())

5

In [348]:
cur3 = con.cursor()
cur3.execute("SELECT t1.uhid,t1.entrydate,t1.rbs,t1.skintemp,t1.centraltemp  FROM kalawati.nursing_vitalparameters AS t1 where t1.uhid IN "+uhidPatient+";")
cols3 = list(map(lambda x: x[0], cur3.description))
nv = pd.DataFrame(cur3.fetchall(),columns=cols3)

In [349]:
nv.uhid.unique()

array(['200700003', '200700148', '200700206', '200700207', '200700160'],
      dtype=object)

In [350]:
nv.drop_duplicates(subset=['uhid','entrydate'],keep='first',inplace=True)

In [351]:
len(nv)

298

In [352]:
nv['hour'] = nv.entrydate.apply(split_hour)

In [164]:
nv.hour.iloc[0]

'2020-07-01 09'

In [356]:
nv['uhid'] = nv['uhid'].apply(to_float)

In [353]:
ss.uhid = ss.uhid.astype(str)

In [354]:
ss.uhid.unique()

array(['200700003.0', '200700148.0', '200700160.0', '200700206.0',
       '200700207.0'], dtype=object)

In [358]:
nv.uhid

0      200700003.0
1      200700003.0
2      200700003.0
3      200700003.0
4      200700003.0
5      200700003.0
6      200700003.0
7      200700003.0
8      200700003.0
9      200700003.0
10     200700003.0
11     200700003.0
12     200700003.0
13     200700003.0
14     200700003.0
15     200700003.0
16     200700003.0
17     200700003.0
18     200700003.0
19     200700003.0
20     200700003.0
21     200700003.0
22     200700003.0
23     200700003.0
24     200700003.0
25     200700148.0
26     200700206.0
27     200700003.0
28     200700148.0
29     200700003.0
          ...
268    200700206.0
269    200700148.0
270    200700207.0
271    200700003.0
272    200700160.0
273    200700206.0
274    200700148.0
275    200700207.0
276    200700003.0
277    200700160.0
278    200700148.0
279    200700003.0
280    200700160.0
281    200700206.0
282    200700206.0
283    200700160.0
284    200700207.0
285    200700148.0
286    200700207.0
287    200700206.0
288    200700207.0
289    200700148.0
290    200700003.0
291    200700003.0
292    200700206.0
293    200700160.0
294    200700160.0
295    200700148.0
296    200700003.0
297    200700207.0
Name: uhid, Length: 298, dtype: float64

In [359]:
ss.hour.iloc[0]

'2020-07-01 04'

In [361]:
ss['uhid'] = ss['uhid'].apply(to_float)

In [362]:
s1 = pd.merge(ss,nv,on = ['uhid','hour'], how='left')

In [168]:
len(ss)

41406

In [363]:
len(s1)

41946

In [364]:
len(s1.uhid.unique())

5

In [365]:
s1.drop_duplicates(subset=['uhid','hour_series'],keep='first',inplace=True)

In [172]:
s1

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,urine_per_hour,creationtime,entrydate_x,modificationtime,new_ph,ph,entrydate_y,rbs,skintemp,centraltemp
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,1.059973,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41376,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41377,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41378,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41379,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41380,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41381,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41382,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41383,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41384,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41385,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41386,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41387,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41388,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41389,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41390,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41391,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41392,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41393,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41394,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41395,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41396,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41397,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41398,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41399,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41400,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41401,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41402,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41403,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41404,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41405,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [366]:
def temp_a(x,y):
    if not(x is None) and (x>0):
        return x
    else:
        return y

In [367]:
s1['temp'] = s1.apply(lambda x: temp_a(x['centraltemp'], x['skintemp']), axis=1)

In [368]:
cur2 = con.cursor()
cur2.execute("SELECT t1.uhid,t1.visitdate,t1.visittime,t1.currentdateweight, t1.currentdateheight  FROM kalawati.baby_visit AS t1 where t1.uhid  IN "+uhidPatient+";")
cols2 = list(map(lambda x: x[0], cur2.description))
bv = pd.DataFrame(cur2.fetchall(),columns=cols2)

In [369]:
bv

,uhid,visitdate,visittime,currentdateweight,currentdateheight
0,200700003,2020-07-02,06:35:34.977000,1340.0,NaN
1,200700003,2020-07-03,06:39:18.969000,1330.0,NaN
2,200700003,2020-07-04,06:42:51.876000,1350.0,NaN
3,200700003,2020-07-01,04:07:00,1390.0,39.0
4,200700148,2020-07-04,06:42:51.798000,1130.0,NaN
5,200700003,2020-07-06,06:29:43.684000,1410.0,NaN
6,200700206,2020-07-06,06:45:17.004000,1840.0,NaN
7,200700206,2020-07-07,06:57:22.244000,1840.0,NaN
8,200700148,2020-07-08,07:57:35.748000,1240.0,NaN
9,200700206,2020-07-04,18:33:00,1700.0,46.0
10,200700207,2020-07-07,06:57:22.231000,1680.0,NaN
11,200700003,2020-07-07,06:57:22.308000,1430.0,NaN
12,200700160,2020-07-08,07:57:35.789000,800.0,NaN
13,200700160,2020-07-06,13:50:00,800.0,40.0
14,200700003,2020-07-08,07:57:35.818000,1420.0,NaN
15,200700207,2020-07-05,06:37:00,1710.0,NaN
16,200700207,2020-07-06,06:45:16.985000,1650.0,NaN
17,200700003,2020-07-05,06:36:00,1710.0,NaN
18,200700148,2020-07-03,13:40:00,1130.0,36.0
19,200700148,2020-07-07,06:57:22.252000,1200.0,NaN
20,200700160,2020-07-07,06:57:22.288000,800.0,NaN
21,200700207,2020-07-06,06:29:43.612000,1650.0,NaN
22,200700206,2020-07-05,06:33:00,1700.0,NaN
23,200700148,2020-07-05,06:33:00,1120.0,NaN
24,200700206,2020-07-09,07:56:54.237000,1730.0,NaN
25,200700148,2020-07-09,07:56:54.254000,1280.0,NaN
26,200700207,2020-07-04,18:35:00,1700.0,44.0
27,200700160,2020-07-09,07:56:54.312000,800.0,NaN
28,200700003,2020-07-09,07:56:54.333000,1430.0,NaN
29,200700003,2020-07-05,06:43:00,1380.0,NaN
30,200700148,2020-07-06,06:45:17.010000,1180.0,NaN
31,200700003,2020-07-06,06:45:17.044000,1410.0,NaN
32,200700207,2020-07-09,07:56:54.190000,1660.0,NaN
33,200700207,2020-07-08,07:57:35.732000,1700.0,NaN
34,200700206,2020-07-08,07:57:35.740000,1700.0,NaN

In [370]:
bv.sort_values('visitdate',inplace=True)

In [371]:
def stamp_1(x,y):
    return str(x) +" "+ str(y).split(":")[0]

In [372]:
bv

,uhid,visitdate,visittime,currentdateweight,currentdateheight
3,200700003,2020-07-01,04:07:00,1390.0,39.0
0,200700003,2020-07-02,06:35:34.977000,1340.0,NaN
1,200700003,2020-07-03,06:39:18.969000,1330.0,NaN
18,200700148,2020-07-03,13:40:00,1130.0,36.0
2,200700003,2020-07-04,06:42:51.876000,1350.0,NaN
4,200700148,2020-07-04,06:42:51.798000,1130.0,NaN
26,200700207,2020-07-04,18:35:00,1700.0,44.0
9,200700206,2020-07-04,18:33:00,1700.0,46.0
29,200700003,2020-07-05,06:43:00,1380.0,NaN
23,200700148,2020-07-05,06:33:00,1120.0,NaN
22,200700206,2020-07-05,06:33:00,1700.0,NaN
15,200700207,2020-07-05,06:37:00,1710.0,NaN
17,200700003,2020-07-05,06:36:00,1710.0,NaN
13,200700160,2020-07-06,13:50:00,800.0,40.0
31,200700003,2020-07-06,06:45:17.044000,1410.0,NaN
30,200700148,2020-07-06,06:45:17.010000,1180.0,NaN
16,200700207,2020-07-06,06:45:16.985000,1650.0,NaN
5,200700003,2020-07-06,06:29:43.684000,1410.0,NaN
6,200700206,2020-07-06,06:45:17.004000,1840.0,NaN
21,200700207,2020-07-06,06:29:43.612000,1650.0,NaN
7,200700206,2020-07-07,06:57:22.244000,1840.0,NaN
19,200700148,2020-07-07,06:57:22.252000,1200.0,NaN
10,200700207,2020-07-07,06:57:22.231000,1680.0,NaN
11,200700003,2020-07-07,06:57:22.308000,1430.0,NaN
20,200700160,2020-07-07,06:57:22.288000,800.0,NaN
8,200700148,2020-07-08,07:57:35.748000,1240.0,NaN
12,200700160,2020-07-08,07:57:35.789000,800.0,NaN
33,200700207,2020-07-08,07:57:35.732000,1700.0,NaN
14,200700003,2020-07-08,07:57:35.818000,1420.0,NaN
34,200700206,2020-07-08,07:57:35.740000,1700.0,NaN
24,200700206,2020-07-09,07:56:54.237000,1730.0,NaN
25,200700148,2020-07-09,07:56:54.254000,1280.0,NaN
27,200700160,2020-07-09,07:56:54.312000,800.0,NaN
28,200700003,2020-07-09,07:56:54.333000,1430.0,NaN
32,200700207,2020-07-09,07:56:54.190000,1660.0,NaN

In [373]:
bv['hour'] = bv.apply(lambda x: stamp_1(x['visitdate'], x['visittime']), axis=1)

In [374]:
def to_str(x):
    return (str(x))

In [375]:
bv['day'] = bv['visitdate'].apply(to_str)

In [376]:
bv.drop_duplicates(subset=['uhid','visitdate'],keep='last',inplace=True)

In [377]:
s1['day'] = s1['hour_series'].apply(split_date_1)

In [378]:
s1.day.unique()

array(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
       '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
       '2020-07-09'], dtype=object)

In [186]:
s1

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,entrydate_x,modificationtime,new_ph,ph,entrydate_y,rbs,skintemp,centraltemp,temp,day
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41376,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41377,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41378,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41379,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41380,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41381,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41382,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41383,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41384,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41385,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41386,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41387,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41388,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41389,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41390,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41391,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41392,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41393,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41394,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41395,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41396,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41397,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41398,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41399,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41400,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41401,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41402,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41403,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41404,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09
41405,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,NaN,NaN,NaN,NaT,NaN,None,None,None,2020-07-09

In [382]:
s2 = pd.merge(s1,bv,on = ['uhid','day'], how='left')

In [381]:
bv['uhid'] = bv['uhid'].apply(to_float)

In [383]:
len(s2.uhid.unique())

5

In [189]:
#Meds

uhidPatient

"('200700003','200700160','200700148','200700206','200700207')"

In [384]:
cur7= con.cursor()
cur7.execute("SELECT t1.uhid,t1.startdate,t1.medicineorderdate,t1.medicinename,t1.medicationtype,t2.typevalue FROM kalawati.baby_prescription AS t1 LEFT JOIN kalawati.ref_medtype AS t2 ON t1.medicationtype = t2.typeid WHERE (t1.medicationtype = 'TYPE0001' OR t1.medicationtype = 'TYPE0009' OR t1.medicationtype = 'TYPE0004') and (t1.uhid IN " + uhidPatient+");")
cols7 = list(map(lambda x: x[0], cur7.description))
meds = pd.DataFrame(cur7.fetchall(),columns=cols7)

In [385]:
meds

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue
0,200700206,2020-07-05 12:55:36.990000+05:30,2020-07-05 12:55:36.990000+05:30,ZONAMAX-PS,TYPE0001,Antibiotics
1,200700148,2020-07-04 04:22:23.692000+05:30,2020-07-04 04:22:23.692000+05:30,Dopamine,TYPE0004,Inotropes
2,200700207,2020-07-05 12:43:25.410000+05:30,2020-07-05 12:43:25.410000+05:30,ZONAMAX-PS,TYPE0001,Antibiotics
3,200700148,2020-07-04 04:20:49.535000+05:30,2020-07-04 04:20:49.535000+05:30,ZONAMAX-PS,TYPE0001,Antibiotics
4,200700160,2020-07-07 00:18:05.437000+05:30,2020-07-07 00:18:05.437000+05:30,ZONAMAX-PS,TYPE0001,Antibiotics
5,200700206,2020-07-05 03:11:38.629000+05:30,2020-07-05 03:11:38.629000+05:30,Dopamine,TYPE0004,Inotropes

In [386]:
meds_dummies = pd.get_dummies(meds,columns=['typevalue'])

In [387]:
meds_dummies['hour'] = meds_dummies.startdate.apply(split_hour)

In [69]:
meds_dummies

Empty DataFrame
Columns: [uhid, startdate, medicineorderdate, medicinename, medicationtype, hour]
Index: []

In [388]:
meds_dummies = pd.get_dummies(meds,columns=['typevalue'])
meds_dummies['hour'] = meds_dummies.startdate.apply(split_hour)
s2.drop(['hour_x','hour_y'],axis=1,inplace=True)

In [389]:
s2['hour'] = s2.hour_series.apply(split_hour)

In [196]:
meds_dummies

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,typevalue_Inotropes,hour
0,200700206,2020-07-05 12:55:36.990000+05:30,2020-07-05 12:55:36.990000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-05 12
1,200700148,2020-07-04 04:22:23.692000+05:30,2020-07-04 04:22:23.692000+05:30,Dopamine,TYPE0004,0,1,2020-07-04 04
2,200700207,2020-07-05 12:43:25.410000+05:30,2020-07-05 12:43:25.410000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-05 12
3,200700148,2020-07-04 04:20:49.535000+05:30,2020-07-04 04:20:49.535000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-04 04
4,200700160,2020-07-07 00:18:05.437000+05:30,2020-07-07 00:18:05.437000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-07 00
5,200700206,2020-07-05 03:11:38.629000+05:30,2020-07-05 03:11:38.629000+05:30,Dopamine,TYPE0004,0,1,2020-07-05 03

In [73]:
s2

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,rbs,skintemp,centraltemp,temp,day,visitdate,visittime,currentdateweight,currentdateheight,hour
0,0,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,NaN,NaN,2020-01-07,2020-01-07,12:29:00,2846.0,None,2020-01-07 13
1,1,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,NaN,NaN,2020-01-07,2020-01-07,12:29:00,2846.0,None,2020-01-07 13
2,2,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,NaN,NaN,2020-01-07,2020-01-07,12:29:00,2846.0,None,2020-01-07 13
3,3,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,NaN,NaN,2020-01-07,2020-01-07,12:29:00,2846.0,None,2020-01-07 13
4,4,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,NaN,NaN,2020-01-07,2020-01-07,12:29:00,2846.0,None,2020-01-07 13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,1520,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,36.2,36.2,2020-01-08,NaN,NaN,NaN,NaN,2020-01-08 14
1521,1521,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,36.2,36.2,2020-01-08,NaN,NaN,NaN,NaN,2020-01-08 14
1522,1522,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,36.2,36.2,2020-01-08,NaN,NaN,NaN,NaN,2020-01-08 14
1523,1523,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,36.2,36.2,2020-01-08,NaN,NaN,NaN,NaN,2020-01-08 14
1524,1524,2020-01-07 12:29:00,RNEH.0000013713,2020-01-08 14:56:00,2020-01-07 13:31:00,Male,2846.0,NaN,36.0,In Born,...,NaN,None,36.2,36.2,2020-01-08,NaN,NaN,NaN,NaN,2020-01-08 14

In [390]:
s2

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,rbs,skintemp,centraltemp,temp,day,visitdate,visittime,currentdateweight,currentdateheight,hour
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaN,None,None,None,2020-07-01,2020-07-01,04:07:00,1390.0,39.0,2020-07-01 04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41376,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41377,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41378,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41379,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41380,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41381,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41382,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41383,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41384,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41385,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41386,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41387,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41388,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41389,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41390,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41391,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41392,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41393,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41394,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41395,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41396,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41397,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41398,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41399,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41400,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41401,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41402,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41403,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41404,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22
41405,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaN,None,None,None,2020-07-09,2020-07-09,07:56:54.190000,1660.0,NaN,2020-07-09 22

In [391]:
meds_dummies

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,typevalue_Inotropes,hour
0,200700206,2020-07-05 12:55:36.990000+05:30,2020-07-05 12:55:36.990000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-05 12
1,200700148,2020-07-04 04:22:23.692000+05:30,2020-07-04 04:22:23.692000+05:30,Dopamine,TYPE0004,0,1,2020-07-04 04
2,200700207,2020-07-05 12:43:25.410000+05:30,2020-07-05 12:43:25.410000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-05 12
3,200700148,2020-07-04 04:20:49.535000+05:30,2020-07-04 04:20:49.535000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-04 04
4,200700160,2020-07-07 00:18:05.437000+05:30,2020-07-07 00:18:05.437000+05:30,ZONAMAX-PS,TYPE0001,1,0,2020-07-07 00
5,200700206,2020-07-05 03:11:38.629000+05:30,2020-07-05 03:11:38.629000+05:30,Dopamine,TYPE0004,0,1,2020-07-05 03

In [392]:
meds_dummies['uhid'] = meds_dummies['uhid'].apply(to_float)

In [393]:
s3 = pd.merge(s2,meds_dummies,on = ['uhid','hour'], how='left')

In [394]:
s3['day'] = s3['hour_series'].apply(split_date_1)

In [395]:
s3

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,visittime,currentdateweight,currentdateheight,hour,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,typevalue_Inotropes
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,04:07:00,1390.0,39.0,2020-07-01 04,NaT,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41436,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41437,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41438,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41439,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41440,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41441,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41442,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41443,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41444,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41445,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41446,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41447,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41448,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41449,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41450,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41451,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41452,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41453,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41454,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41455,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41456,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41457,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41458,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41459,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41460,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41461,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41462,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41463,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41464,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN
41465,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,07:56:54.190000,1660.0,NaN,2020-07-09 22,NaT,NaT,NaN,NaN,NaN,NaN

In [396]:
#PN
cur8= con.cursor()
cur8.execute("SELECT t1.uhid,t1.entrydatetime,t1.totalparenteralvolume,t1.total_intake FROM kalawati.babyfeed_detail AS t1 where t1.uhid IN "+uhidPatient+";")
cols8 = list(map(lambda x: x[0], cur8.description))
pn = pd.DataFrame(cur8.fetchall(),columns=cols8)

In [201]:
len(pn)

32

In [397]:
pn['hour'] = pn.entrydatetime.apply(split_hour)
pn['total_intake'] = pn['total_intake'].astype(float)
pn['tpn-tfl'] = pn['totalparenteralvolume']/pn['total_intake']

In [398]:
pn['uhid'] = pn['uhid'].apply(to_float)

In [399]:
s4 = pd.merge(s3,pn,on = ['uhid','hour'], how='left')

In [400]:
s4

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,typevalue_Inotropes,entrydatetime,totalparenteralvolume,total_intake,tpn-tfl
0,0,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,2,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,3,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,4,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,5,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,6,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,7,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8,8,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9,9,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
10,10,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
11,11,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
12,12,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13,13,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
14,14,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
15,15,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16,16,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
17,17,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
18,18,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
19,19,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
20,20,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
21,21,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
22,22,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
23,23,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
24,24,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
25,25,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
26,26,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
27,27,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
28,28,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
29,29,2020-07-01 04:07:00,200700003.0,2020-07-09 23:00:00,2020-07-01 04:28:00,Male,1390.0,39.0,30.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41616,40518,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41617,40519,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41618,40520,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41619,40521,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41620,40522,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41621,40523,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41622,40524,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41623,40525,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41624,40526,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41625,40527,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41626,40528,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41627,40529,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41628,40530,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41629,40531,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41630,40532,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41631,40533,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41632,40534,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41633,40535,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41634,40536,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41635,40537,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41636,40538,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41637,40539,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41638,40540,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41639,40541,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41640,40542,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41641,40543,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41642,40544,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41643,40545,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41644,40546,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
41645,40547,2020-07-04 18:35:00,200700207.0,2020-07-09 23:00:00,2020-07-04 19:09:00,Female,1700.0,44.0,31.0,In Born,...,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [81]:
len(s4.uhid.unique())

1

In [401]:
s4.drop_duplicates(subset=['uhid','hour_series'],inplace=True)

In [402]:
q = pd.DataFrame()

In [403]:
for i in s4.uhid.unique():
    x = s4[s4['uhid']==i]
    x['currentdateheight'].fillna(method='ffill',inplace=True)
    x['currentdateweight'].fillna(method='ffill',inplace=True)
    q = q.append(x,ignore_index=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [404]:
def abd(x):
    
    try:   
        
        if x>200:
            return x/10
        else:
            return x
    except:
        pass

In [405]:
q['abdomen_girth'] = pd.to_numeric(q['abdomen_girth'], errors='coerce')
q['abdomen_girth'] = q['abdomen_girth'].apply(abd)

In [406]:
dt = pd.DataFrame()
for i in q.uhid.unique():
    x = q[q['uhid']==i]
    #for j in y['day'].unique():
    #x = y[y['day']==j]
    x['abdomen_girth'].fillna(method='bfill',inplace=True)
    x['currentdateweight'].fillna(method='bfill',inplace=True)
    x['currentdateheight'].fillna(method='bfill',inplace=True)
    x['totalparenteralvolume'].fillna(method='ffill',inplace=True)
    x['total_intake'].fillna(method='ffill',inplace=True)
    x['tpn-tfl'].fillna(method='ffill',inplace=True)
    dt = dt.append(x,ignore_index=True)

In [407]:
dt.urine_per_hour.max()

inf

In [89]:
dt.urine_per_hour.unique()

array([1.21971786,        inf, 6.26021502])

In [408]:
a = dt.replace([np.inf, -np.inf], np.nan)

In [409]:
def abd_2(x):
    if not(x is None) and x < 0:
        return ((-1)*x)/10
    elif not(x is None) and x > 200:
        return x/10
    else:
        return x
    
a['abdomen_girth'] = a['abdomen_girth'].apply(abd_2)

def abd_3(x):
    if not(x is None) and x < 15:
        return np.nan
    elif not(x is None) and x > 50:
        return np.nan
    else:
        return x
    
a['abdomen_girth'] = a['abdomen_girth'].apply(abd_3)

def upm(x):
    if not(x is None) and x > 100:
        return np.nan
    else:
        return x
    
a['urine_per_hour'] = a['urine_per_hour'].apply(upm)

def temp_f_c(x):
    if not(x is None) and x > 90:
        return (x - 32)*(5/9)
    else:
        return x
    
a['temp'] = a['temp'].apply(temp_f_c)

def weight_correct(x):
    if not(x is None) and x<10:
        return x*100
    elif x>5000:
        return x/10
    else:
        return x
    
def weight_correct_2(x):
    if not(x is None) and x<300:
        return x*10
    elif x>5000:
        return x/10
    else:
        return x
    
a.currentdate = a.currentdateweight.apply(weight_correct)
a.currentdate = a.currentdateweight.apply(weight_correct_2)

def height_correct(x):
    if not(x is None) and x < 10:
        return np.nan
    else:
        return x
    
def rbs_correct(x):
    if not(x is None) and x > 700:
        return np.nan
    else:
        return x
    
a['currentdateheight'] = a['currentdateheight'].apply(height_correct)

a['rbs'] = a['rbs'].apply(rbs_correct)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:53: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [410]:
len(a.uhid.unique())

5

In [411]:
data = a.copy()

In [412]:
def split_date_1(x):
    try:
        t=str(x)
        return str(t.split(" ")[0])
    except:
        pass

In [413]:
data['day'] = data['hour_series'].apply(split_date_1)

In [414]:
def to_date(x):
    return pd.to_datetime(x)

In [415]:
data['hour_series'] = data['hour_series'].apply(to_date)

In [218]:
len(data.uhid.unique())

5

In [416]:
data.to_csv("intermittent_checkpoint_2.csv")

In [417]:
df = pd.DataFrame()
for i in data.uhid.unique():
    x = data[data['uhid']==i]
    x.rbs.fillna(method='ffill',inplace=True)
    x.currentdateweight.fillna(method='ffill',inplace=True)
    x.currentdateheight.fillna(method='ffill',inplace=True)
    n = math.ceil(len(x)/24)+1
    start_date = pd.to_datetime(x['day'].iloc[0]+" " + "08:00:00") - timedelta(hours=24)
    for i in range(int(n)):
        
       
        y = x[(x['hour_series']>=start_date + timedelta(hours=24*i)) & (x['hour_series']<=start_date + timedelta(hours=24*(i+1)))]
        y['stool_day_total'] = y['stool_passed'].sum()
        df =df.append(y,ignore_index=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [101]:
df.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_3.csv')

In [418]:
test = df.copy()

In [419]:
dq = pd.DataFrame()

In [420]:
for i in test.uhid.unique():
    x = test[test['uhid']==i]
    x.abdomen_girth.fillna(method='ffill',inplace=True)
    dq = dq.append(x, ignore_index=True)

In [421]:
final = pd.DataFrame()

In [422]:
for i in dq.uhid.unique():
    x = dq[dq['uhid']==i]
    x['abd_difference_y'] = x['abdomen_girth'] - x['abdomen_girth'].shift(periods=1)
    final = final.append(x,ignore_index=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [107]:
final.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_4.csv')

In [423]:
cur1 = con.cursor()
cur1.execute("SELECT t1.uhid,t1.starttime,t1.pulserate, t1.ecg_resprate, t1.spo2, t1.heartrate, t2.dischargestatus,t1.mean_bp,t1.sys_bp,t1.dia_bp  FROM kalawati.device_monitor_detail AS t1 LEFT JOIN kalawati.baby_detail AS t2 ON t1.uhid=t2.uhid WHERE (t2.uhid IN "+ uhidPatient+") OR (t2.uhid IN "+ uhidPatient+");")
cols1 = list(map(lambda x: x[0], cur1.description))
ds = pd.DataFrame(cur1.fetchall(),columns=cols1)
ds.sort_values('starttime',inplace=True)

In [243]:
len(ds)

350210

In [424]:
ds.spo2.unique()

array(['98', '100', '95', '94', '93', '96', '92', '97', '91', None, '99',
       '88', '85', '83', '86', '90', '80', '69', '72', '67', '61', '58',
       '56', '87', '89', '82', '84', '65', '75', '79', '76', '78', '73',
       '55', '66', '63', '62', '64', '59', '77', '31', '38', '81', '74'],
      dtype=object)

In [425]:
test = ds.drop_duplicates(subset=['uhid','starttime'],keep='first')

In [426]:
ds.spo2.unique()

array(['98', '100', '95', '94', '93', '96', '92', '97', '91', None, '99',
       '88', '85', '83', '86', '90', '80', '69', '72', '67', '61', '58',
       '56', '87', '89', '82', '84', '65', '75', '79', '76', '78', '73',
       '55', '66', '63', '62', '64', '59', '77', '31', '38', '81', '74'],
      dtype=object)

In [427]:
cur_vent = con.cursor()
cur_vent.execute("SELECT t1.uhid,t1.start_time,t1.creationtime,t1.peep, t1.pip,t1.map ,t1.tidalvol, t1.minvol,t1.ti,t1.fio2 FROM kalawati.device_ventilator_detail AS t1 LEFT JOIN kalawati.baby_detail AS t2 ON t1.uhid=t2.uhid WHERE  t2.uhid IN "+uhidPatient+";")
cols_vent = list(map(lambda x: x[0], cur_vent.description))
ventilator_cont = pd.DataFrame(cur_vent.fetchall(),columns=cols_vent)

test_vent = ventilator_cont.drop_duplicates(subset=['uhid','start_time'],keep='first')

def split_date(x):
    try:
        t=str(x)
        return t.split(":")[0] + ":" + t.split(":")[1]
    except:
        pass

test['date'] = test.starttime.apply(split_date)
test_vent['date'] = test_vent.start_time.apply(split_date)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [428]:
cont_data = pd.merge(test,test_vent,on=['uhid','date'],how='left',copy=False)
test_cont = cont_data.drop_duplicates(subset=['uhid','starttime','heartrate'],keep='first')

In [271]:
ds.spo2.unique()

array(['98', '100', '95', '94', '93', '96', '92', '97', '91', None, '99',
       '88', '85', '83', '86', '90', '80', '69', '72', '67', '61', '58',
       '56', '87', '89', '82', '84', '65', '75', '79', '76', '78', '73',
       '55', '66', '63', '62', '64', '59', '77', '31', '38', '81', '74'],
      dtype=object)

In [274]:
test_cont.hour_series

0        2020-07-03 17
1        2020-07-03 17
2        2020-07-04 10
3        2020-07-04 10
4        2020-07-04 10
5        2020-07-04 10
6        2020-07-04 10
7        2020-07-04 10
8        2020-07-04 10
9        2020-07-04 10
10       2020-07-04 10
11       2020-07-04 10
12       2020-07-04 10
13       2020-07-04 10
14       2020-07-04 10
15       2020-07-04 10
16       2020-07-04 10
17       2020-07-04 10
18       2020-07-04 10
19       2020-07-04 10
20       2020-07-04 10
21       2020-07-04 10
22       2020-07-04 10
23       2020-07-04 10
24       2020-07-04 10
25       2020-07-04 10
26       2020-07-04 10
27       2020-07-04 10
28       2020-07-04 10
29       2020-07-04 10
             ...
54366    2020-07-09 10
54367    2020-07-09 10
54368    2020-07-09 10
54369    2020-07-09 10
54370    2020-07-09 10
54371    2020-07-09 10
54372    2020-07-09 10
54373    2020-07-09 10
54374    2020-07-09 10
54375    2020-07-09 10
54376    2020-07-09 10
54377    2020-07-09 10
54378    2020-07-09 10
54379    2020-07-09 10
54380    2020-07-09 10
54381    2020-07-09 10
54382    2020-07-09 10
54383    2020-07-09 10
54384    2020-07-09 10
54385    2020-07-09 10
54386    2020-07-09 10
54387    2020-07-09 10
54388    2020-07-09 10
54389    2020-07-09 10
54390    2020-07-09 10
54391    2020-07-09 10
54392    2020-07-09 10
54393    2020-07-09 10
54394    2020-07-09 10
54395    2020-07-09 10
Name: hour_series, Length: 54396, dtype: object

In [429]:
test_cont['hour_series'] = test_cont['date'].apply(split_hour)

In [430]:
def to_str(x):
    return str(x)

In [431]:
test_cont['ref_hour'] = test_cont['hour_series'].apply(to_str)
final['ref_hour'] = final['hour_series'].apply(to_str)

In [432]:
ds.spo2.unique()

array(['98', '100', '95', '94', '93', '96', '92', '97', '91', None, '99',
       '88', '85', '83', '86', '90', '80', '69', '72', '67', '61', '58',
       '56', '87', '89', '82', '84', '65', '75', '79', '76', '78', '73',
       '55', '66', '63', '62', '64', '59', '77', '31', '38', '81', '74'],
      dtype=object)

In [433]:
def con_time(x):
    return str(x).split("+")[0].split(":")[0] + ":" +str(x).split("+")[0].split(":")[1]

In [434]:
test_cont['cont_time'] = test_cont.starttime.apply(con_time)

In [256]:
ds.spo2.unique()

array(['98', '100', '95', '94', '93', '96', '92', '97', '91', None, '99',
       '88', '85', '83', '86', '90', '80', '69', '72', '67', '61', '58',
       '56', '87', '89', '82', '84', '65', '75', '79', '76', '78', '73',
       '55', '66', '63', '62', '64', '59', '77', '31', '38', '81', '74'],
      dtype=object)

In [435]:
def con_time_2(x):
    return str(x).split(":")[0] +":"+str(x).split(":")[1]

In [441]:
test_cont['uhid'] = test_cont['uhid'].apply(to_float)

In [440]:
test_cont['cont_time'] = test_cont.ref_hour.apply(con_time_2)

IndexError: list index out of range

In [284]:
test_cont_1 = test_cont[test_cont.uhid=="200700003"]

In [ ]:
final_1 = final[final.uhid=="200700003"]

In [439]:
test_cont

,uhid,starttime,pulserate,ecg_resprate,spo2,heartrate,dischargestatus,mean_bp,sys_bp,dia_bp,...,peep,pip,map,tidalvol,minvol,ti,fio2,hour_series,ref_hour,cont_time
0,200700206,2020-07-03 17:31:04+05:30,None,51,98,150,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-03 17,2020-07-03 17,2020-07-03 17:31
1,200700206,2020-07-03 17:31:35+05:30,None,51,100,146,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-03 17,2020-07-03 17,2020-07-03 17:31
2,200700148,2020-07-04 10:19:09+05:30,174,45,95,175,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:19
3,200700148,2020-07-04 10:20:09+05:30,174,45,95,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:20
4,200700148,2020-07-04 10:21:09+05:30,174,45,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:21
5,200700148,2020-07-04 10:22:09+05:30,174,45,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:22
6,200700148,2020-07-04 10:23:09+05:30,174,43,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:23
7,200700148,2020-07-04 10:24:09+05:30,174,43,96,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:24
8,200700148,2020-07-04 10:25:09+05:30,174,44,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:25
9,200700148,2020-07-04 10:26:09+05:30,174,44,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:26
10,200700148,2020-07-04 10:27:09+05:30,174,44,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:27
11,200700148,2020-07-04 10:28:09+05:30,174,44,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:28
12,200700148,2020-07-04 10:29:09+05:30,174,44,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:29
13,200700148,2020-07-04 10:30:09+05:30,174,44,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:30
14,200700148,2020-07-04 10:31:09+05:30,174,44,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:31
15,200700148,2020-07-04 10:32:09+05:30,174,48,95,175,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:32
16,200700148,2020-07-04 10:33:09+05:30,174,42,96,175,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:33
17,200700148,2020-07-04 10:34:09+05:30,174,44,95,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:34
18,200700148,2020-07-04 10:35:09+05:30,174,48,94,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:35
19,200700148,2020-07-04 10:36:09+05:30,174,45,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:36
20,200700148,2020-07-04 10:37:09+05:30,174,45,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:37
21,200700148,2020-07-04 10:38:09+05:30,174,45,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:38
22,200700148,2020-07-04 10:39:09+05:30,174,52,93,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:39
23,200700148,2020-07-04 10:40:09+05:30,173,45,93,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:40
24,200700148,2020-07-04 10:41:09+05:30,171,44,93,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:41
25,200700148,2020-07-04 10:42:09+05:30,169,47,93,170,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:42
26,200700148,2020-07-04 10:43:09+05:30,169,38,93,170,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:43
27,200700148,2020-07-04 10:44:09+05:30,170,37,94,170,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:44
28,200700148,2020-07-04 10:45:09+05:30,169,51,94,169,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:45
29,200700148,2020-07-04 10:46:09+05:30,168,45,93,169,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-04 10,2020-07-04 10,2020-07-04 10:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54366,200700160,2020-07-09 10:34:38+05:30,172,57,97,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54367,200700160,2020-07-09 10:34:39+05:30,173,59,97,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54368,200700148,2020-07-09 10:34:40+05:30,146,None,99,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54369,200700160,2020-07-09 10:34:40+05:30,173,76,97,174,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54370,200700160,2020-07-09 10:34:41+05:30,173,76,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54371,200700160,2020-07-09 10:34:42+05:30,173,79,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54372,200700160,2020-07-09 10:34:43+05:30,174,83,97,172,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54373,200700207,2020-07-09 10:34:44+05:30,152,55,96,148,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54374,200700160,2020-07-09 10:34:44+05:30,174,95,97,172,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54375,200700207,2020-07-09 10:34:45+05:30,149,37,94,152,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54376,200700160,2020-07-09 10:34:45+05:30,174,96,97,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54377,200700160,2020-07-09 10:34:46+05:30,174,96,97,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54378,200700160,2020-07-09 10:34:47+05:30,173,78,97,170,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54379,200700160,2020-07-09 10:34:48+05:30,173,76,98,170,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54380,200700160,2020-07-09 10:34:49+05:30,173,74,98,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54381,200700160,2020-07-09 10:34:50+05:30,172,71,98,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54382,200700160,2020-07-09 10:34:51+05:30,172,64,98,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54383,200700160,2020-07-09 10:34:52+05:30,171,64,98,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54384,200700160,2020-07-09 10:34:53+05:30,171,54,98,171,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54385,200700160,2020-07-09 10:34:54+05:30,171,50,97,172,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54386,200700160,2020-07-09 10:34:55+05:30,171,49,97,172,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54387,200700160,2020-07-09 10:34:56+05:30,171,53,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54388,200700160,2020-07-09 10:34:57+05:30,170,54,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54389,200700160,2020-07-09 10:34:58+05:30,171,54,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54390,200700160,2020-07-09 10:34:59+05:30,171,56,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:34
54391,200700160,2020-07-09 10:35:00+05:30,171,63,97,173,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:35
54392,200700206,2020-07-09 10:35:16+05:30,None,None,99,154,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:35
54393,200700207,2020-07-09 10:35:44+05:30,154,54,95,155,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:35
54394,200700206,2020-07-09 10:36:16+05:30,None,None,98,135,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:36
54395,200700206,2020-07-09 10:37:10+05:30,None,None,100,141,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-09 10,2020-07-09 10,2020-07-09 10:37

In [442]:
qw = pd.merge(final,test_cont, on=['uhid','cont_time'],how='left')

In [121]:
#final[final['cont_time']=='2019-09-30 11:18']

In [122]:
#qw.dropna(subset=['series'],inplace=True)

In [444]:
qw.to_csv('intermediate_checkpoint_apollo_5_9july_final.csv')

In [443]:
qw.spo2.unique()

array([nan, '99', '98', '95', '96', '94', '97', '90', '93', '91', '92',
       None, '100', '82', '88', '89', '87', '81', '85', '74', '75', '86',
       '73', '83', '79', '77', '84', '80', '69', '72', '67', '61', '58',
       '56', '65', '76', '78', '55', '66', '63', '62', '64', '59', '31',
       '38'], dtype=object)

In [239]:
qw.count()

Unnamed: 0                  41434
actual_DOB                  41434
uhid                        41434
dischargeddate              41434
actual_DOA                  41434
gender                      41434
birthweight                 41434
birthlength                 41434
birthheadcircumference      41434
inout_patient_status        41434
gestationweekbylmp          41434
gestationdaysbylmp          41434
baby_type                   41434
central_temp                14873
apgar_onemin                36611
apgar_fivemin               41434
apgar_tenmin                41434
motherage                       0
conception_type             27514
mode_of_delivery            41434
steroidname                 20077
numberofdose                12641
dischargestatus_x               0
birthlength.1               41434
birthheadcircumference.1    41434
inout_patient_status.1      41434
gestationweekbylmp.1        41434
gestationdaysbylmp.1        41434
baby_type.1                 41434
central_temp.1              14873
                            ...
typevalue_Inotropes             0
entrydatetime                   0
totalparenteralvolume           0
total_intake                    0
tpn-tfl                         0
stool_day_total             41434
abd_difference_y            41429
ref_hour_x                  41434
cont_time                   41434
starttime                       0
pulserate                       0
ecg_resprate                    0
spo2                            0
heartrate                       0
dischargestatus_y               0
mean_bp                         0
sys_bp                          0
dia_bp                          0
date                            0
start_time                      0
creationtime_y                  0
peep                            0
pip                             0
map                             0
tidalvol                        0
minvol                          0
ti                              0
fio2                            0
hour_series_y                   0
ref_hour_y                      0
Length: 102, dtype: int64