In [1]:
import pandas as pd
import numpy as np
import psycopg2
import math
from datetime import timedelta

%matplotlib inline

con = psycopg2.connect (user = 'postgres',
                password = 'postgres',
                port = '5433',
                host = 'localhost',
                database = 'inicudb')

cur  = con.cursor()

In [2]:
#uhidPatient = "RNEH.0000012581"
uhidPatient = "RSHI.0000012984"
#caseType = 'Death'
caseType = 'Discharge'
seperator = '_'

In [3]:
data = pd.read_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_new_1.csv')

In [4]:
data['series'] = data.hour_series

In [5]:
data.columns

Index(['Unnamed: 0', 'actual_DOB', 'uhid', 'dischargeddate', 'actual_DOA',
       'gender', 'birthweight', 'birthlength', 'birthheadcircumference',
       'inout_patient_status', 'gestationweekbylmp', 'gestationdaysbylmp',
       'baby_type', 'central_temp', 'apgar_onemin', 'apgar_fivemin',
       'apgar_tenmin', 'motherage', 'conception_type', 'mode_of_delivery',
       'steroidname', 'numberofdose', 'dischargestatus', 'birthlength.1',
       'birthheadcircumference.1', 'inout_patient_status.1',
       'gestationweekbylmp.1', 'gestationdaysbylmp.1', 'baby_type.1',
       'central_temp.1', 'apgar_onemin.1', 'apgar_fivemin.1', 'apgar_tenmin.1',
       'motherage.1', 'conception_type.1', 'mode_of_delivery.1',
       'steroidname.1', 'numberofdose.1', 'los', 'day_1', 'hour_series',
       'hour', 'day_x', 'abdomen_girth', 'urine', 'stool', 'stool_passed',
       'entry_timestamp', 'day_y', 'time_divide', 'series'],
      dtype='object')

In [6]:
data.urine

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
133767    35.0
133768    35.0
133769    35.0
133770    35.0
133771    35.0
Name: urine, Length: 133772, dtype: float64

In [7]:
data.time_divide.unique()

array([0.0000000e+00, 4.4805680e+05, 3.5973958e+04, 7.2166090e+03,
       1.4415046e+04, 2.8800173e+04, 2.2699035e+04, 2.4799230e+03,
       1.0826918e+04, 3.5934450e+03, 7.1781200e+03, 1.4415863e+04,
       1.4398689e+04, 2.8788535e+04, 1.4415568e+04, 2.5195263e+04,
       3.5776170e+03, 1.4408112e+04, 2.1600443e+04, 2.1606547e+04,
       7.2312100e+03, 7.1840860e+03, 1.0790560e+04, 7.2124970e+03,
       1.1260018e+04, 1.3949751e+04, 1.7992093e+04, 1.0761424e+04,
       7.2313360e+03, 1.0816918e+04, 1.4351256e+04, 1.3020641e+04,
       1.2198283e+04, 7.1884450e+03, 1.1641587e+04, 1.7197120e+04,
       1.4347548e+04, 1.0823273e+04, 3.5639332e+05, 1.4401211e+04,
       7.2144940e+03, 7.1967300e+03, 6.9356650e+03, 2.6109400e+02,
       7.2315050e+03, 7.1985410e+03, 7.2363870e+03, 7.1479810e+03,
       7.1826630e+03, 1.4381459e+04, 1.4417531e+04, 7.1901230e+03,
       7.2463240e+03, 7.1732460e+03, 1.4654810e+04, 1.4126478e+04,
       1.0804378e+04, 3.6268460e+03, 7.1952280e+03, 1.0788039e+04,
       2.1620565e+04, 2.1578137e+04, 1.0791381e+04, 1.0800855e+04,
       1.0818820e+04, 7.1864290e+03, 1.4415065e+04, 1.0811068e+04,
       1.0781841e+04, 1.8004791e+04, 1.0769849e+04, 1.4421384e+04,
       1.5139147e+04, 6.4455990e+03, 7.2074030e+03, 1.5006119e+04,
       1.3793595e+04, 1.4437012e+04, 2.1593824e+04, 7.1594680e+03,
       7.2482490e+03, 1.4758919e+04, 6.7964890e+03, 2.8838808e+04,
       1.4387134e+04, 7.1794080e+03, 7.2258440e+03, 7.1930430e+03,
       7.2095280e+03, 1.7994796e+04, 3.6056640e+03, 2.2098522e+04,
       6.6775960e+03, 7.1945310e+03, 7.1926010e+03, 7.2058280e+03,
       7.1967560e+03, 2.1625583e+04, 1.4405660e+04, 1.8076809e+04,
       3.4920810e+03, 1.4396731e+04, 7.2185660e+03, 2.8787270e+04,
       7.2036740e+03, 7.1945820e+03, 1.4398684e+04, 1.4449368e+04,
       2.1563688e+04, 7.2322460e+03, 1.4380349e+04, 1.3445376e+04,
       9.7233200e+02, 1.4389679e+04, 1.4378338e+04, 2.1606132e+04,
       6.6464000e+03, 1.8549821e+04, 1.0831595e+04, 7.1828080e+03,
       7.0096630e+03, 1.4577436e+04, 1.4404312e+04, 7.2123420e+03,
       7.1583180e+03, 2.1611088e+04, 7.2223870e+03, 7.1961140e+03,
       7.2193410e+03, 7.1899680e+03, 7.1589210e+03, 7.2338690e+03,
       7.2665000e+03, 1.7784389e+04, 3.7416110e+03, 7.2004970e+03,
       7.2218140e+03, 7.1760230e+03, 6.7983270e+03, 7.6253940e+03,
       1.4366881e+04, 1.4396162e+04, 7.2163370e+03, 7.1899830e+03,
       7.2146200e+03, 7.1783260e+03, 7.2112550e+03, 1.4413560e+04,
       7.1659160e+03, 7.2414010e+03, 7.1651290e+03, 1.4448843e+04,
       1.4342742e+04, 7.2501780e+03, 1.4373734e+04, 1.4433821e+04,
       7.1711580e+03, 1.4396822e+04, 7.1737470e+03, 1.4407630e+04,
       7.2421590e+03, 1.4386994e+04, 7.1774600e+03, 7.2231180e+03,
       7.1740480e+03, 7.2451380e+03, 7.1569270e+03, 7.2328100e+03,
       7.1585180e+03, 1.4427966e+04, 7.1996920e+03, 1.4407261e+04,
       1.4399702e+04, 1.4395903e+04, 2.1591562e+04, 7.1739820e+03,
       7.2100010e+03, 2.1628299e+04, 1.4377916e+04, 1.4381586e+04,
       1.4439698e+04, 7.1856700e+03, 7.2056620e+03, 7.1820160e+03,
       7.2093750e+03, 2.8785198e+04, 7.2386540e+03, 7.1790950e+03,
       7.2022140e+03, 7.2252120e+03, 7.2007110e+03, 7.1958130e+03,
       7.1781650e+03, 7.2083010e+03, 1.4415272e+04, 1.4374101e+04,
       1.4390651e+04, 7.2188840e+03, 7.1901310e+03, 1.4411872e+04,
       1.4377227e+04, 1.4433786e+04, 1.4396448e+04, 1.4414005e+04,
       7.1839390e+03, 7.1694190e+03, 1.4433395e+04, 1.4364340e+04,
       1.4423473e+04, 1.4417352e+04, 1.4403877e+04, 1.4370646e+04,
       7.2288630e+03, 1.6178244e+04, 7.1941760e+03, 1.2623210e+04,
       1.4356682e+04, 1.0826183e+04, 6.9423390e+03, 1.1055600e+04,
       7.1758200e+03, 1.4419109e+04, 7.2183270e+03, 1.4403716e+04,
       1.4386075e+04, 1.4408510e+04, 7.2010870e+03, 7.5086710e+03,
       1.7602668e+04, 1.0860806e+04, 1.4435852e+04, 7.2062690e+03,
       1.4350202e+04, 7.2037950e+03, 1.4439200e+04, 7.1872280e+03,
       7.1699100e+03, 7.2035510e+03, 2.1597945e+04, 7.2399180e+03,
       2.1833027e+04, 1.4170957e+04, 7.1514600e+03, 1.4451460e+04,
       7.1678070e+03, 1.6410473e+04, 5.2031530e+03, 7.1940870e+03,
       7.1750520e+03, 7.2252070e+03, 1.4374575e+04, 7.2260550e+03,
       1.4424449e+04, 7.1590040e+03, 1.4411557e+04, 7.1803920e+03,
       7.1947780e+03, 7.2555900e+03, 7.1672940e+03, 2.1622758e+04,
       1.4353169e+04, 7.2550150e+03, 7.1987460e+03, 7.1748780e+03,
       7.1728920e+03, 7.2330590e+03, 7.1713880e+03, 7.2296610e+03,
       1.4374249e+04, 2.1607761e+04, 7.2035970e+03, 7.2046990e+03,
       7.1825840e+03, 7.2052540e+03, 7.2259170e+03, 7.1986610e+03,
       7.1679590e+03, 1.4406657e+04, 1.4445467e+04, 1.3985902e+04,
       1.4804815e+04, 1.4406542e+04, 7.1890230e+03, 7.1949380e+03,
       1.4417259e+04, 7.1065520e+03, 7.2840030e+03, 1.4355143e+04,
       7.2341600e+03, 7.2094480e+03, 1.4408245e+04, 7.1569060e+03,
       2.1606576e+04, 1.4398224e+04, 7.1904690e+03, 7.2474200e+03,
       7.1453590e+03, 7.2253530e+03, 7.2072710e+03, 7.2251880e+03,
       7.1555460e+03, 1.4392184e+04, 1.4425365e+04, 7.2183570e+03,
       1.4393625e+04, 7.1744510e+03, 7.2200520e+03, 7.2000990e+03,
       7.1977090e+03, 7.2020590e+03, 7.2022090e+03, 7.2189400e+03,
       7.6399960e+03, 6.7222440e+03, 7.2203130e+03, 7.1648740e+03,
       7.1991580e+03, 7.2482840e+03, 7.1761120e+03, 1.4392862e+04,
       2.1613314e+04, 7.2335310e+03, 7.1522670e+03, 7.1832650e+03,
       7.2348890e+03, 7.1957310e+03, 1.4370347e+04, 1.4423351e+04,
       1.4420128e+04, 2.1550586e+04, 7.2380850e+03, 7.1667920e+03,
       7.2351840e+03, 7.1693150e+03, 2.1623955e+04, 1.4416441e+04,
       1.4366847e+04, 7.2067150e+03, 2.1719026e+04, 1.4291018e+04,
       1.4425551e+04, 1.4351716e+04, 7.2334580e+03, 7.1763470e+03,
       7.2258930e+03, 7.1833470e+03, 7.2271790e+03, 2.1580143e+04,
       1.4374800e+04, 1.4416099e+04, 7.1898930e+03, 7.2175730e+03,
       7.1835540e+03, 7.2078030e+03, 8.5572530e+03, 5.8703030e+03,
       1.4382260e+04, 1.4370618e+04, 1.4426617e+04, 7.1986230e+03,
       7.1824240e+03, 7.1897720e+03, 1.4404666e+04, 7.2273340e+03,
       1.4423129e+04, 1.4383009e+04, 1.4368387e+04, 7.1956820e+03,
       7.2065330e+03, 7.2236000e+03, 7.1802110e+03, 7.2114640e+03,
       7.1891960e+03, 1.4403504e+04, 1.4411824e+04, 1.4414928e+04,
       7.1787650e+03, 7.2052710e+03, 7.1764720e+03, 1.4414531e+04,
       7.2135180e+03, 1.4367734e+04, 1.4431249e+04, 1.4422736e+04,
       1.4389465e+04, 1.5029170e+04, 6.5685810e+03, 7.1956130e+03,
       1.4402708e+04, 1.4389754e+04, 1.4415426e+04, 1.4352629e+04,
       7.2374760e+03, 1.4390325e+04, 7.2226760e+03, 2.1552229e+04,
       1.4439178e+04, 7.1880410e+03, 2.1606018e+04, 7.0535760e+03,
       1.4545803e+04, 1.4375981e+04, 2.8843276e+04, 1.4369476e+04,
       6.8004470e+03, 7.5948040e+03, 7.1807990e+03, 7.2305490e+03,
       7.2180170e+03, 7.1548390e+03, 7.2383900e+03, 1.4375733e+04,
       2.1603029e+04, 1.4421458e+04, 7.1697130e+03, 7.2205030e+03,
       1.4385198e+04, 1.4417053e+04, 1.4399158e+04, 7.2212610e+03,
       7.4396140e+03, 6.9522360e+03, 7.1821560e+03, 7.1766210e+03,
       7.2449560e+03, 7.1754240e+03, 7.1991840e+03, 1.4375550e+04,
       1.4439856e+04, 1.4399669e+04, 2.1584364e+04, 7.1947940e+03,
       7.1892870e+03, 1.4407610e+04, 7.2277110e+03, 7.1711890e+03,
       7.2276880e+03, 7.1824670e+03, 1.4395202e+04, 1.4425923e+04,
       2.1603195e+04, 1.4357840e+04, 1.4421064e+04, 1.4408598e+04,
       1.4402785e+04, 7.1905700e+03, 7.1926870e+03, 6.4804237e+04,
       6.2804870e+03, 1.5336207e+04, 1.4405943e+04, 1.4398681e+04,
       1.4379140e+04, 7.1807960e+03, 1.4426505e+04, 1.4388146e+04,
       7.1796040e+03, 1.4449634e+04, 1.4366659e+04, 2.1620655e+04,
       7.1864410e+03, 7.2268680e+03, 1.4396688e+04, 7.1887410e+03,
       1.4399640e+04, 1.4403045e+04, 7.2115820e+03, 7.5360500e+03,
       1.4021908e+04, 7.2152400e+03, 1.4428803e+04, 1.4347246e+04,
       7.2304450e+03, 7.2234690e+03, 7.1626840e+03, 7.1972310e+03,
       7.1838090e+03, 1.4429339e+04, 7.1953430e+03, 1.4379996e+04,
       7.2071430e+03, 7.2151310e+03, 7.2273540e+03, 7.1682640e+03,
       7.1782180e+03, 7.2480920e+03, 7.1962140e+03, 1.4394074e+04,
       1.2252261e+04, 2.1535850e+03, 7.1859590e+03, 6.9857100e+03,
       2.9033716e+04, 1.4395773e+04, 1.4410267e+04, 2.1566485e+04,
       7.2300850e+03, 1.4349493e+04, 7.2276050e+03, 7.1950950e+03,
       1.4417379e+04, 7.1726680e+03, 7.2151300e+03, 7.2272010e+03,
       7.1692510e+03, 1.4399617e+04, 1.4410698e+04, 7.1806850e+03,
       1.4385205e+04, 7.2196810e+03, 1.4416791e+04, 7.1974720e+03,
       6.7069210e+03, 7.7053730e+03, 7.2022800e+03, 2.8750955e+04,
       1.4431736e+04, 1.4393585e+04, 2.1606746e+04, 3.5812880e+03,
       3.6012230e+03, 1.4402358e+04, 7.2325570e+03, 7.1713970e+03,
       7.2174680e+03, 7.1714930e+03, 7.2356120e+03, 7.2099910e+03,
       7.1683230e+03, 7.2099140e+03, 7.2129850e+03, 7.1770010e+03,
       1.4372670e+04, 1.4430298e+04, 2.8799401e+04, 7.2174870e+03,
       7.1578020e+03, 7.2182860e+03, 7.1804520e+03, 7.0475320e+03,
       7.3725930e+03, 1.4377691e+04, 7.2456370e+03, 7.2065130e+03,
       1.4363230e+04, 7.2376860e+03, 1.8723896e+04, 2.8381820e+03,
       7.2298090e+03, 7.1761350e+03, 7.2075620e+03, 1.4394486e+04,
       7.2084300e+03, 7.1835230e+03, 7.2319750e+03, 2.1569307e+04,
       7.1856470e+03, 1.4435429e+04, 1.4408157e+04, 1.4367744e+04,
       1.4438260e+04, 2.1570513e+04, 7.1945840e+03, 1.4420216e+04,
       2.8769513e+04, 1.4402407e+04, 2.1646276e+04, 2.1588580e+04,
       2.8810402e+04, 1.4365144e+04, 7.2045520e+03, 1.4386630e+04,
       7.2288800e+03, 1.4687441e+04, 7.1641170e+03, 1.4136689e+04,
       7.1998040e+03, 1.4417733e+04, 7.1978870e+03, 7.1993490e+03,
       7.2117020e+03, 7.1787330e+03, 1.7009180e+04, 1.3545250e+04,
       1.6341166e+04, 3.5262460e+03, 7.1784680e+03, 7.1834770e+03,
       7.1980080e+03, 2.8837644e+04, 7.5656000e+03, 6.7853420e+03,
       7.2476240e+03, 1.1600661e+04, 2.7741600e+03, 7.2128660e+03,
       7.1924230e+03, 1.4390267e+04, 1.4394374e+04, 2.8838965e+04,
       7.1735810e+03, 7.2042580e+03, 7.1678100e+03, 1.4407655e+04,
       7.2031100e+03, 7.2313580e+03, 3.9589497e+04, 2.5192626e+04,
       7.2222590e+03, 1.4356420e+04, 1.4427089e+04, 1.4405469e+04,
       1.4372668e+04, 1.4433672e+04, 7.2158190e+03, 1.4698981e+04,
       1.4041172e+04, 7.2534740e+03, 1.4348462e+04, 7.2205430e+03,
       7.2252710e+03, 1.4385127e+04, 7.1710860e+03, 7.2343800e+03,
       7.1635790e+03, 7.2259810e+03, 1.4389491e+04, 7.2161420e+03,
       7.1678580e+03, 7.2106690e+03, 7.2270590e+03, 1.1906271e+04,
       1.7970498e+04, 6.1020100e+03, 7.1837260e+03, 1.4449510e+04,
       7.1948350e+03, 7.2035040e+03, 7.5614080e+03, 2.1220137e+04,
       7.2049980e+03, 7.2086950e+03, 7.1685890e+03, 2.1608414e+04,
       1.4406332e+04, 7.2131340e+03, 7.1965080e+03])

In [8]:
def split_date(x):
    try:
        t=str(x)
        return t.split(":")[0] + ":" + t.split(":")[1]
    except:
        pass

def split_hour(x):
    try:
        t=str(x)
        return t.split(":")[0]
    except:
        pass
    
def split_date_1(x):
    try:
        t=str(x)
        return str(t.split(" ")[0])
    except:
        pass

In [9]:
def urine_check(x):
    try:
        if x > 200:
            return x/10
        else:
            return x
    except:
        pass

In [10]:
def to_float(x):
    if x == '':
        return np.nan
    else:
        return float(x)

In [11]:
dg = data.copy()

In [12]:
dg['urine'] = dg['urine'].apply(to_float)

In [13]:
dg['urine'] = dg['urine'].apply(urine_check)

In [14]:
dg['urine_per_hour'] = dg['urine']/((dg['time_divide'])/(3600))

In [15]:
dt = dg.sort_values(by = ['uhid','hour_series'])

In [16]:
ds = pd.DataFrame()

In [17]:
for i in dt.uhid.unique():
    x = dt[dt['uhid']==i]
    x['urine_per_hour'].fillna(method='bfill',inplace=True)
    ds = ds.append(x,ignore_index=True)

In [18]:
cur1 = con.cursor()
cur1.execute("SELECT uhid,creationtime,modificationtime,ph,entrydate FROM apollo.nursing_bloodgas where uhid ='"+ uhidPatient+"'")
cols1 = list(map(lambda x: x[0],cur1.description))
ph = pd.DataFrame(cur1.fetchall(),columns=cols1)

In [19]:
ph

,uhid,creationtime,modificationtime,ph,entrydate
0,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08
1,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47
2,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
3,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08
7,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
8,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
9,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
10,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
11,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24

In [20]:
def ph_func(x):
    try:
        p = float(x)
        if p>=6.80 and p<=7.8:
            return p
        else:
            return None
    except:
        pass

In [21]:
ph

,uhid,creationtime,modificationtime,ph,entrydate
0,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08
1,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47
2,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
3,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08
7,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
8,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
9,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
10,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
11,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24

In [22]:
ph['new_ph'] = ph.ph.apply(ph_func)

In [23]:
ph.dropna(subset=['new_ph'],inplace=True)

In [24]:
ph_df = pd.DataFrame()
for i in ph.uhid.unique():
    x = ph[ph['uhid']==i]
    ph_df = ph_df.append(x,ignore_index=True)

In [25]:
ph

,uhid,creationtime,modificationtime,ph,entrydate,new_ph
0,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
1,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
2,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
3,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
7,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
8,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
9,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
10,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
11,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31

In [26]:
ph_df

,uhid,creationtime,modificationtime,ph,entrydate,new_ph
0,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
1,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
2,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
3,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
7,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
8,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
9,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
10,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
11,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31

In [27]:
#ph_df = pd.DataFrame(columns = ph.columns)

In [28]:
ph_df

,uhid,creationtime,modificationtime,ph,entrydate,new_ph
0,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
1,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
2,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
3,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19
7,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
8,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
9,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
10,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
11,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31

In [29]:
ph_df['hour'] = ph_df.entrydate.apply(split_hour)
ph_df.drop_duplicates(subset=['uhid','hour'],keep='last',inplace=True)

In [30]:
ds

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide,series,urine_per_hour
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:33:00.000,0.128555
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:34:00.000,0.128555
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:35:00.000,0.128555
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:36:00.000,0.128555
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:37:00.000,0.128555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508,2018-11-22 14:00:00.000,17.508492
133768,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:01:00.000,inf
133769,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:02:00.000,inf
133770,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:03:00.000,inf
133771,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:04:00.000,inf

In [31]:
ph_df

,uhid,creationtime,modificationtime,ph,entrydate,new_ph,hour
4,RSHI.0000012984,2018-09-14 22:31:15,2018-10-06 19:39:46.186753,7.39,2018-09-14 22:31:15,7.39,2018-09-14 22
5,RSHI.0000012984,2018-09-11 12:32:47,2018-10-06 19:39:46.186753,7.32,2018-09-11 12:32:47,7.32,2018-09-11 12
6,RSHI.0000012984,2018-09-09 21:00:08,2018-10-06 19:39:46.186753,7.19,2018-09-09 21:00:08,7.19,2018-09-09 21
12,RSHI.0000012984,2018-12-31 04:37:24,2018-12-31 04:37:24.000000,7.31,2018-12-31 04:37:24,7.31,2018-12-31 04

In [32]:
type(ds.uhid[0])

str

In [33]:
ds['uhid'] = ds['uhid'].astype(str)

In [34]:
ss = pd.merge(ds,ph_df,on=['uhid','hour'],how='left')
ss = ss.drop_duplicates(subset=['uhid','hour_series'],keep='first')

In [35]:
ss

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,entry_timestamp,day_y,time_divide,series,urine_per_hour,creationtime,modificationtime,ph,entrydate,new_ph
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:33:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:34:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:35:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:36:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:37:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508,2018-11-22 14:00:00.000,17.508492,NaT,NaT,NaN,NaT,NaN
133768,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:01:00.000,inf,NaT,NaT,NaN,NaT,NaN
133769,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:02:00.000,inf,NaT,NaT,NaN,NaT,NaN
133770,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:03:00.000,inf,NaT,NaT,NaN,NaT,NaN
133771,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:04:00.000,inf,NaT,NaT,NaN,NaT,NaN

In [36]:
ss

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,entry_timestamp,day_y,time_divide,series,urine_per_hour,creationtime,modificationtime,ph,entrydate,new_ph
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:33:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:34:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:35:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:36:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,NaN,0.000,2018-08-21 16:37:00.000,0.128555,NaT,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508,2018-11-22 14:00:00.000,17.508492,NaT,NaT,NaN,NaT,NaN
133768,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:01:00.000,inf,NaT,NaT,NaN,NaT,NaN
133769,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:02:00.000,inf,NaT,NaT,NaN,NaT,NaN
133770,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:03:00.000,inf,NaT,NaT,NaN,NaT,NaN
133771,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:04:00.000,inf,NaT,NaT,NaN,NaT,NaN

In [37]:
len(ss.uhid.unique())

1

In [38]:
cur3 = con.cursor()
cur3.execute("SELECT t1.uhid,t1.entrydate,t1.rbs,t1.skintemp,t1.centraltemp  FROM apollo.nursing_vitalparameters AS t1 where t1.uhid = '"+uhidPatient+"'")
cols3 = list(map(lambda x: x[0], cur3.description))
nv = pd.DataFrame(cur3.fetchall(),columns=cols3)

In [39]:
nv.drop_duplicates(subset=['uhid','entrydate'],keep='first',inplace=True)

In [40]:
nv['hour'] = nv.entrydate.apply(split_hour)

In [41]:
nv

,uhid,entrydate,rbs,skintemp,centraltemp,hour
0,RSHI.0000012984,2018-08-26 18:00:17.495,NaN,None,36.6,2018-08-26 18
1,RSHI.0000012984,2018-08-28 03:00:52.902,NaN,None,NaN,2018-08-28 03
2,RSHI.0000012984,2018-08-28 04:00:58.734,NaN,None,NaN,2018-08-28 04
3,RSHI.0000012984,2018-08-28 05:00:42.045,NaN,None,NaN,2018-08-28 05
4,RSHI.0000012984,2018-08-28 01:00:24.777,NaN,None,NaN,2018-08-28 01
...,...,...,...,...,...,...
3370,RSHI.0000012984,2018-11-12 01:00:04.120,NaN,None,36.5,2018-11-12 01
3371,RSHI.0000012984,2019-01-13 02:00:22.195,NaN,None,36.6,2019-01-13 02
3372,RSHI.0000012984,2018-12-07 22:31:58.693,NaN,None,37.4,2018-12-07 22
3373,RSHI.0000012984,2018-12-07 23:07:20.860,NaN,None,36.6,2018-12-07 23
3374,RSHI.0000012984,2019-01-12 21:00:44.323,NaN,None,36.6,2019-01-12 21

In [42]:
ds

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,day_x,abdomen_girth,urine,stool,stool_passed,entry_timestamp,day_y,time_divide,series,urine_per_hour
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:33:00.000,0.128555
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:34:00.000,0.128555
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:35:00.000,0.128555
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:36:00.000,0.128555
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,NaN,NaN,NaN,NaN,NaN,NaN,0.000,2018-08-21 16:37:00.000,0.128555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,7196.508,2018-11-22 14:00:00.000,17.508492
133768,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:01:00.000,inf
133769,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:02:00.000,inf
133770,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:03:00.000,inf
133771,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,29.5,35.0,NaN,NaN,2018-11-22 14:00:37.691000+08:00,2018-11-22,0.000,2018-11-22 14:04:00.000,inf

In [43]:
nv.hour.iloc[0]

'2018-08-26 18'

In [44]:
ss.uhid = ss.uhid.astype(str)

In [45]:
ss.hour.iloc[0]

'2018-08-21 16'

In [46]:
s1 = pd.merge(ss,nv,on = ['uhid','hour'], how='left')

In [47]:
len(s1.uhid.unique())

1

In [48]:
s1.drop_duplicates(subset=['uhid','hour_series'],keep='first',inplace=True)

In [49]:
s1

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,urine_per_hour,creationtime,modificationtime,ph,entrydate_x,new_ph,entrydate_y,rbs,skintemp,centraltemp
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,0.128555,NaT,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,0.128555,NaT,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,0.128555,NaT,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,0.128555,NaT,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,0.128555,NaT,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140847,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,17.508492,NaT,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6
140848,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,inf,NaT,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6
140849,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,inf,NaT,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6
140850,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,inf,NaT,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6
140851,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,inf,NaT,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6

In [50]:
def temp_a(x,y):
    if x>0:
        return x
    else:
        return y

In [51]:
s1['temp'] = s1.apply(lambda x: temp_a(x['centraltemp'], x['skintemp']), axis=1)

In [52]:
cur2 = con.cursor()
cur2.execute("SELECT t1.uhid,t1.visitdate,t1.visittime,t1.currentdateweight, t1.currentdateheight  FROM apollo.baby_visit AS t1 where t1.uhid = '"+uhidPatient+"'")
cols2 = list(map(lambda x: x[0], cur2.description))
bv = pd.DataFrame(cur2.fetchall(),columns=cols2)

In [53]:
bv

,uhid,visitdate,visittime,currentdateweight,currentdateheight
0,RSHI.0000012984,2018-10-14,06:42:00,1002.0,NaN
1,RSHI.0000012984,2018-10-15,06:43:00,1007.0,36.5
2,RSHI.0000012984,2018-10-13,07:01:00,987.0,NaN
3,RSHI.0000012984,2018-10-16,06:46:00,1040.0,NaN
4,RSHI.0000012984,2018-10-17,07:26:00,1050.0,NaN
...,...,...,...,...,...
137,RSHI.0000012984,2018-10-05,01:21:02.458964,898.0,NaN
138,RSHI.0000012984,2018-10-06,07:42:00,903.0,NaN
139,RSHI.0000012984,2018-10-10,05:00:00,954.0,NaN
140,RSHI.0000012984,2018-10-11,06:55:00,973.0,NaN
141,RSHI.0000012984,2018-10-12,07:12:00,963.0,NaN

In [54]:
bv.sort_values('visitdate',inplace=True)

In [55]:
def stamp_1(x,y):
    return str(x) +" "+ str(y).split(":")[0]

In [56]:
bv

,uhid,visitdate,visittime,currentdateweight,currentdateheight
101,RSHI.0000012984,2018-08-21,14:11:19.261000,691.0,NaN
111,RSHI.0000012984,2018-08-22,01:29:02.928203,720.0,NaN
112,RSHI.0000012984,2018-08-28,13:04:00,683.0,NaN
113,RSHI.0000012984,2018-08-29,05:00:00,664.0,NaN
114,RSHI.0000012984,2018-08-30,07:13:00,675.0,NaN
...,...,...,...,...,...
106,RSHI.0000012984,2019-01-28,06:18:00,3590.0,NaN
107,RSHI.0000012984,2019-01-29,06:18:00,3510.0,NaN
108,RSHI.0000012984,2019-01-30,06:48:00,3600.0,NaN
109,RSHI.0000012984,2019-01-31,07:01:00,3715.0,NaN
110,RSHI.0000012984,2019-02-01,06:57:00,3580.0,NaN

In [57]:
bv['hour'] = bv.apply(lambda x: stamp_1(x['visitdate'], x['visittime']), axis=1)

In [58]:
def to_str(x):
    return (str(x))

In [59]:
bv['day'] = bv['visitdate'].apply(to_str)

In [60]:
bv.drop_duplicates(subset=['uhid','visitdate'],keep='last',inplace=True)

In [61]:
s1['day'] = s1['hour_series'].apply(split_date_1)

In [62]:
s1.day.unique()

array(['2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24',
       '2018-08-25', '2018-08-26', '2018-08-27', '2018-08-28',
       '2018-08-29', '2018-08-30', '2018-08-31', '2018-09-01',
       '2018-09-02', '2018-09-03', '2018-09-04', '2018-09-05',
       '2018-09-06', '2018-09-07', '2018-09-08', '2018-09-09',
       '2018-09-10', '2018-09-11', '2018-09-12', '2018-09-13',
       '2018-09-14', '2018-09-15', '2018-09-16', '2018-09-17',
       '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-21',
       '2018-09-22', '2018-09-23', '2018-09-24', '2018-09-25',
       '2018-09-26', '2018-09-27', '2018-09-28', '2018-09-29',
       '2018-09-30', '2018-10-01', '2018-10-02', '2018-10-03',
       '2018-10-04', '2018-10-05', '2018-10-06', '2018-10-07',
       '2018-10-08', '2018-10-09', '2018-10-10', '2018-10-11',
       '2018-10-12', '2018-10-13', '2018-10-14', '2018-10-15',
       '2018-10-16', '2018-10-17', '2018-10-18', '2018-10-19',
       '2018-10-20', '2018-10-21', '2018-10-22', '2018-10-23',
       '2018-10-24', '2018-10-25', '2018-10-26', '2018-10-27',
       '2018-10-28', '2018-10-29', '2018-10-30', '2018-10-31',
       '2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
       '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08',
       '2018-11-09', '2018-11-10', '2018-11-11', '2018-11-12',
       '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16',
       '2018-11-17', '2018-11-18', '2018-11-19', '2018-11-20',
       '2018-11-21', '2018-11-22'], dtype=object)

In [63]:
s1

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,modificationtime,ph,entrydate_x,new_ph,entrydate_y,rbs,skintemp,centraltemp,temp,day
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN,NaN,2018-08-21
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN,NaN,2018-08-21
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN,NaN,2018-08-21
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN,NaN,2018-08-21
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,NaT,NaN,None,NaN,NaN,2018-08-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140847,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6,36.6,2018-11-22
140848,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6,36.6,2018-11-22
140849,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6,36.6,2018-11-22
140850,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6,36.6,2018-11-22
140851,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaT,NaN,NaT,NaN,2018-11-22 14:00:18.242,NaN,None,36.6,36.6,2018-11-22

In [64]:
s2 = pd.merge(s1,bv,on = ['uhid','day'], how='left')

In [65]:
len(s2.uhid.unique())

1

In [66]:
#Meds

In [67]:
cur7= con.cursor()
cur7.execute("SELECT t1.uhid,t1.startdate,t1.medicineorderdate,t1.medicinename,t1.medicationtype,t2.typevalue FROM apollo.baby_prescription AS t1 LEFT JOIN apollo.ref_medtype AS t2 ON t1.medicationtype = t2.typeid WHERE (t1.medicationtype = 'TYPE0001' OR t1.medicationtype = 'TYPE0009' OR t1.medicationtype = 'TYPE0004') and (t1.uhid ='"+uhidPatient+"')")
cols7 = list(map(lambda x: x[0], cur7.description))
meds = pd.DataFrame(cur7.fetchall(),columns=cols7)

In [68]:
meds

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue
0,RSHI.0000012984,2018-08-31 18:41:38.406000+08:00,2018-08-31 18:41:38.406000+08:00,Amikacin,TYPE0001,Antibiotics
1,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Ciprofloxacin,TYPE0001,Antibiotics
2,RSHI.0000012984,2018-09-11 16:47:25.581000+08:00,2018-09-11 16:47:25.581000+08:00,Vancomycin,TYPE0001,Antibiotics
3,RSHI.0000012984,2018-08-31 20:46:07.266000+08:00,2018-08-31 20:46:07.266000+08:00,Colisitin,TYPE0001,Antibiotics
4,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Meropenem,TYPE0001,Antibiotics
5,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Amikacin,TYPE0001,Antibiotics
6,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,Antibiotics
7,RSHI.0000012984,2018-11-30 05:40:43.979000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,Antibiotics
8,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Piperacilin Tazobactam,TYPE0001,Antibiotics
9,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,Antibiotics
10,RSHI.0000012984,2018-12-11 03:02:47.883000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,Antibiotics
11,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,Antibiotics
12,RSHI.0000012984,2018-12-11 03:05:19.630000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,Antibiotics
13,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,Antibiotics
14,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,Antibiotics
15,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,Antibiotics
16,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,Antibiotics
17,RSHI.0000012984,2018-12-15 23:58:36.665000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,Antibiotics
18,RSHI.0000012984,2018-12-15 23:58:26.127000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,Antibiotics
19,RSHI.0000012984,2018-12-30 21:17:18.472000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,Antibiotics
20,RSHI.0000012984,2018-12-31 22:58:18.372000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,Antibiotics
21,RSHI.0000012984,2018-12-31 22:58:12.045000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,Antibiotics
22,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,Antibiotics
23,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,Antibiotics
24,RSHI.0000012984,2019-01-13 01:15:23.719000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,Antibiotics
25,RSHI.0000012984,2019-01-13 01:15:35.885000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,Antibiotics
26,RSHI.0000012984,2019-01-15 01:49:45.211000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,Antibiotics
27,RSHI.0000012984,2019-01-09 12:02:51.404000+08:00,2019-01-09 12:02:51.404000+08:00,Azithromycin,TYPE0001,Antibiotics
28,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Piperacilin Tazobactam,TYPE0001,Antibiotics
29,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Amikacin,TYPE0001,Antibiotics

In [69]:
meds_dummies = pd.get_dummies(meds,columns=['typevalue'])

In [70]:
meds_dummies['hour'] = meds_dummies.startdate.apply(split_hour)

In [71]:
meds_dummies

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,hour
0,RSHI.0000012984,2018-08-31 18:41:38.406000+08:00,2018-08-31 18:41:38.406000+08:00,Amikacin,TYPE0001,1,2018-08-31 18
1,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Ciprofloxacin,TYPE0001,1,2018-08-23 11
2,RSHI.0000012984,2018-09-11 16:47:25.581000+08:00,2018-09-11 16:47:25.581000+08:00,Vancomycin,TYPE0001,1,2018-09-11 16
3,RSHI.0000012984,2018-08-31 20:46:07.266000+08:00,2018-08-31 20:46:07.266000+08:00,Colisitin,TYPE0001,1,2018-08-31 20
4,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Meropenem,TYPE0001,1,2018-08-23 11
5,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Amikacin,TYPE0001,1,2018-11-28 18
6,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-11-28 18
7,RSHI.0000012984,2018-11-30 05:40:43.979000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-11-30 05
8,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-12-08 13
9,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-08 13
10,RSHI.0000012984,2018-12-11 03:02:47.883000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,1,2018-12-11 03
11,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-11 02
12,RSHI.0000012984,2018-12-11 03:05:19.630000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,1,2018-12-11 03
13,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-11 02
14,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-11 02
15,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-30 21
16,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-30 21
17,RSHI.0000012984,2018-12-15 23:58:36.665000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-15 23
18,RSHI.0000012984,2018-12-15 23:58:26.127000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-15 23
19,RSHI.0000012984,2018-12-30 21:17:18.472000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,1,2018-12-30 21
20,RSHI.0000012984,2018-12-31 22:58:18.372000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,1,2018-12-31 22
21,RSHI.0000012984,2018-12-31 22:58:12.045000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-31 22
22,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-12 11
23,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,1,2019-01-12 11
24,RSHI.0000012984,2019-01-13 01:15:23.719000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-13 01
25,RSHI.0000012984,2019-01-13 01:15:35.885000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,1,2019-01-13 01
26,RSHI.0000012984,2019-01-15 01:49:45.211000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-15 01
27,RSHI.0000012984,2019-01-09 12:02:51.404000+08:00,2019-01-09 12:02:51.404000+08:00,Azithromycin,TYPE0001,1,2019-01-09 12
28,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Piperacilin Tazobactam,TYPE0001,1,2019-01-27 03
29,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Amikacin,TYPE0001,1,2019-01-27 03

In [72]:
meds_dummies = pd.get_dummies(meds,columns=['typevalue'])
meds_dummies['hour'] = meds_dummies.startdate.apply(split_hour)
s2.drop(['hour_x','hour_y'],axis=1,inplace=True)

In [73]:
s2['hour'] = s2.hour_series.apply(split_hour)

In [74]:
meds_dummies

,uhid,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,hour
0,RSHI.0000012984,2018-08-31 18:41:38.406000+08:00,2018-08-31 18:41:38.406000+08:00,Amikacin,TYPE0001,1,2018-08-31 18
1,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Ciprofloxacin,TYPE0001,1,2018-08-23 11
2,RSHI.0000012984,2018-09-11 16:47:25.581000+08:00,2018-09-11 16:47:25.581000+08:00,Vancomycin,TYPE0001,1,2018-09-11 16
3,RSHI.0000012984,2018-08-31 20:46:07.266000+08:00,2018-08-31 20:46:07.266000+08:00,Colisitin,TYPE0001,1,2018-08-31 20
4,RSHI.0000012984,2018-08-23 11:56:02.501000+08:00,2018-08-23 11:56:02.501000+08:00,Meropenem,TYPE0001,1,2018-08-23 11
5,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Amikacin,TYPE0001,1,2018-11-28 18
6,RSHI.0000012984,2018-11-28 18:10:07.020000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-11-28 18
7,RSHI.0000012984,2018-11-30 05:40:43.979000+08:00,2018-11-28 18:10:07.020000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-11-30 05
8,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Piperacilin Tazobactam,TYPE0001,1,2018-12-08 13
9,RSHI.0000012984,2018-12-08 13:46:22.731000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-08 13
10,RSHI.0000012984,2018-12-11 03:02:47.883000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,1,2018-12-11 03
11,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-11 02
12,RSHI.0000012984,2018-12-11 03:05:19.630000+08:00,2018-12-11 03:02:47.883000+08:00,Azithromycin,TYPE0001,1,2018-12-11 03
13,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-11 02
14,RSHI.0000012984,2018-12-11 02:54:12.032000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-11 02
15,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-30 21
16,RSHI.0000012984,2018-12-30 21:20:57.451000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-30 21
17,RSHI.0000012984,2018-12-15 23:58:36.665000+08:00,2018-12-11 02:54:12.032000+08:00,Tigecycline,TYPE0001,1,2018-12-15 23
18,RSHI.0000012984,2018-12-15 23:58:26.127000+08:00,2018-12-08 13:46:22.731000+08:00,Amikacin,TYPE0001,1,2018-12-15 23
19,RSHI.0000012984,2018-12-30 21:17:18.472000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,1,2018-12-30 21
20,RSHI.0000012984,2018-12-31 22:58:18.372000+08:00,2018-12-30 21:17:18.472000+08:00,Meropenem,TYPE0001,1,2018-12-31 22
21,RSHI.0000012984,2018-12-31 22:58:12.045000+08:00,2018-12-30 21:20:57.451000+08:00,Amikacin,TYPE0001,1,2018-12-31 22
22,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-12 11
23,RSHI.0000012984,2019-01-12 11:18:10.972000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,1,2019-01-12 11
24,RSHI.0000012984,2019-01-13 01:15:23.719000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-13 01
25,RSHI.0000012984,2019-01-13 01:15:35.885000+08:00,2019-01-12 11:18:10.972000+08:00,Amikacin,TYPE0001,1,2019-01-13 01
26,RSHI.0000012984,2019-01-15 01:49:45.211000+08:00,2019-01-12 11:18:10.972000+08:00,Meropenem,TYPE0001,1,2019-01-15 01
27,RSHI.0000012984,2019-01-09 12:02:51.404000+08:00,2019-01-09 12:02:51.404000+08:00,Azithromycin,TYPE0001,1,2019-01-09 12
28,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Piperacilin Tazobactam,TYPE0001,1,2019-01-27 03
29,RSHI.0000012984,2019-01-27 03:45:22.979000+08:00,2019-01-27 03:45:22.979000+08:00,Amikacin,TYPE0001,1,2019-01-27 03

In [75]:
s2

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,rbs,skintemp,centraltemp,temp,day,visitdate,visittime,currentdateweight,currentdateheight,hour
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,NaN,NaN,2018-08-21,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,NaN,NaN,2018-08-21,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,NaN,NaN,2018-08-21,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,NaN,NaN,2018-08-21,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,NaN,NaN,2018-08-21,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133767,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,36.6,36.6,2018-11-22,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14
133768,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,36.6,36.6,2018-11-22,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14
133769,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,36.6,36.6,2018-11-22,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14
133770,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,36.6,36.6,2018-11-22,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14
133771,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,NaN,None,36.6,36.6,2018-11-22,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14

In [76]:
s3 = pd.merge(s2,meds_dummies,on = ['uhid','hour'], how='left')

In [77]:
s3['day'] = s3['hour_series'].apply(split_date_1)

In [78]:
s3

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,visitdate,visittime,currentdateweight,currentdateheight,hour,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16,NaT,NaT,NaN,NaN,NaN
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16,NaT,NaT,NaN,NaN,NaN
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16,NaT,NaT,NaN,NaN,NaN
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16,NaT,NaT,NaN,NaN,NaN
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21,14:11:19.261000,691.0,NaN,2018-08-21 16,NaT,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133827,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14,NaT,NaT,NaN,NaN,NaN
133828,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14,NaT,NaT,NaN,NaN,NaN
133829,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14,NaT,NaT,NaN,NaN,NaN
133830,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14,NaT,NaT,NaN,NaN,NaN
133831,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22,06:20:00,1880.0,NaN,2018-11-22 14,NaT,NaT,NaN,NaN,NaN

In [79]:
#PN
cur8= con.cursor()
cur8.execute("SELECT t1.uhid,t1.entrydatetime,t1.totalparenteralvolume,t1.total_intake FROM apollo.babyfeed_detail AS t1 where t1.uhid = '"+uhidPatient+"'")
cols8 = list(map(lambda x: x[0], cur8.description))
pn = pd.DataFrame(cur8.fetchall(),columns=cols8)

In [80]:
pn['hour'] = pn.entrydatetime.apply(split_hour)
pn['total_intake'] = pn['total_intake'].astype(float)
pn['tpn-tfl'] = pn['totalparenteralvolume']/pn['total_intake']

In [81]:
s4 = pd.merge(s3,pn,on = ['uhid','hour'], how='left')

In [82]:
s4

,Unnamed: 0,actual_DOB,uhid,dischargeddate,actual_DOA,gender,birthweight,birthlength,birthheadcircumference,inout_patient_status,...,hour,startdate,medicineorderdate,medicinename,medicationtype,typevalue_Antibiotics,entrydatetime,totalparenteralvolume,total_intake,tpn-tfl
0,0,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21 16,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21 16,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,2,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21 16,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,3,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21 16,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,4,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-08-21 16,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134487,133767,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
134488,133768,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
134489,133769,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
134490,133770,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
134491,133771,2018-08-21 12:07:00.000,RSHI.0000012984,2018-11-22 14:04:10.942,2018-08-21 16:33:00.000,Male,691.0,NaN,NaN,In Born,...,2018-11-22 14,NaT,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [83]:
len(s4.uhid.unique())

1

In [84]:
s4.drop_duplicates(subset=['uhid','hour_series'],inplace=True)

In [85]:
q = pd.DataFrame()

In [86]:
for i in s4.uhid.unique():
    x = s4[s4['uhid']==i]
    x['currentdateheight'].fillna(method='ffill',inplace=True)
    x['currentdateweight'].fillna(method='ffill',inplace=True)
    q = q.append(x,ignore_index=True)

In [87]:
def abd(x):
    
    try:   
        
        if x>200:
            return x/10
        else:
            return x
    except:
        pass

In [88]:
q['abdomen_girth'] = pd.to_numeric(q['abdomen_girth'], errors='coerce')
q['abdomen_girth'] = q['abdomen_girth'].apply(abd)

In [89]:
dt = pd.DataFrame()
for i in q.uhid.unique():
    x = q[q['uhid']==i]
    #for j in y['day'].unique():
    #x = y[y['day']==j]
    x['abdomen_girth'].fillna(method='bfill',inplace=True)
    x['currentdateweight'].fillna(method='bfill',inplace=True)
    x['currentdateheight'].fillna(method='bfill',inplace=True)
    x['totalparenteralvolume'].fillna(method='ffill',inplace=True)
    x['total_intake'].fillna(method='ffill',inplace=True)
    x['tpn-tfl'].fillna(method='ffill',inplace=True)
    dt = dt.append(x,ignore_index=True)

In [90]:
dt.urine_per_hour.max()

inf

In [91]:
dt.urine_per_hour.unique()

array([1.28555130e-01,            inf, 9.00651521e-01, 1.99539701e+00,
       4.49530303e+00, 1.37499174e+00, 1.58597050e+00, 1.74198957e+01,
       3.32504596e+00, 1.40255382e+01, 4.01219261e+00, 3.49614865e+00,
       3.75034144e+00, 3.25129431e+00, 1.74811010e+00, 1.71460802e+00,
       6.03753839e+00, 1.49915548e+00, 6.66652994e-01, 8.33080825e-01,
       2.98705196e+00, 3.00664552e+00, 3.00262452e+00, 2.49566828e+00,
       2.55772238e+00, 4.12910596e+00, 1.60070315e+00, 4.01433862e+00,
       6.96966646e+00, 1.99687194e+00, 3.01018949e+00, 2.21187267e+00,
       2.36098802e+00, 7.51205581e+00, 3.09236189e+00, 2.51204853e+00,
       4.51645117e+00, 4.32401548e+00, 5.05059971e-02, 2.24981080e+00,
       3.99196395e+00, 4.00181749e+00, 4.67150590e+00, 1.37881376e+02,
       4.48039516e+00, 3.50070938e+00, 3.97988665e+00, 7.55458080e+00,
       4.51086178e+00, 2.50322307e+00, 1.49817607e+00, 4.00549476e+00,
       3.97442897e+00, 5.52051331e+00, 2.21087820e+00, 1.78388414e+00,
       4.99797397e+00, 6.94818583e+00, 3.00198965e+00, 2.33592037e+00,
       1.33206510e+00, 1.50151980e+00, 2.00159739e+00, 3.33306947e+00,
       2.32927436e+00, 2.50472105e+00, 2.24764855e+00, 3.99590494e+00,
       3.00505266e+00, 1.99946781e+00, 3.67693177e+00, 1.49777580e+00,
       1.90235289e+00, 5.02668565e+00, 4.49537788e+00, 3.35862990e+00,
       2.34891629e+00, 3.24166801e+00, 2.00057202e+00, 3.51981460e+00,
       4.96671679e+00, 2.19528273e+00, 5.29685254e+00, 9.98654313e-01,
       2.50223568e+00, 5.01434102e+00, 4.48390527e+00, 7.50725388e+00,
       7.49008812e+00, 1.80052055e+00, 5.99057483e+00, 1.46616140e+00,
       4.85204556e+00, 5.50418088e+00, 4.50462913e+00, 5.49555166e+00,
       5.00225379e+00, 8.32347502e-01, 2.99882130e+00, 2.19065212e+00,
       8.24723138e+00, 2.25051090e+00, 4.98714011e+00, 1.87582914e+00,
       3.99795993e+00, 5.00376533e+00, 2.00018279e+00, 2.49145845e+00,
       1.33557859e+00, 5.47547747e+00, 2.50341629e+00, 2.67750043e+00,
       3.70243908e+01, 1.75125519e+00, 2.75414307e+00, 2.33267111e+00,
       6.49975927e+00, 2.91107930e+00, 3.98833228e+00, 4.00957397e+00,
       4.10861407e+00, 1.97565608e+00, 2.99910194e+00, 5.98973260e+00,
       5.53202582e+00, 1.33264924e+00, 2.49225083e+00, 4.00216005e+00,
       2.99196284e+00, 6.00837166e+00, 7.04016709e+00, 5.47424898e+00,
       6.44051469e+00, 2.02424722e+00, 1.15458288e+01, 5.49962037e+00,
       5.48338686e+00, 5.01670633e+00, 6.35450457e+00, 5.66528103e+00,
       2.75633939e+00, 3.00079980e+00, 5.48754860e+00, 4.00557275e+00,
       5.98784136e+00, 7.02113557e+00, 3.99375698e+00, 2.99717766e+00,
       6.02853843e+00, 4.47427231e+00, 5.02433383e+00, 2.98985877e+00,
       3.76497046e+00, 4.96539533e+00, 2.50456840e+00, 1.99531365e+00,
       5.02010972e+00, 1.50033111e+00, 4.51646817e+00, 3.74801407e+00,
       4.97089335e+00, 3.00271203e+00, 5.01570193e+00, 4.98399722e+00,
       6.02170490e+00, 5.96261935e+00, 4.02407346e+00, 5.97278236e+00,
       4.02317910e+00, 3.49321588e+00, 7.50032085e+00, 2.49874005e+00,
       3.75007761e+00, 2.25064034e+00, 1.66731800e+00, 5.51994694e+00,
       4.99306449e+00, 1.66448596e+00, 2.50383992e+00, 3.75480145e+00,
       2.49312693e+00, 5.00997123e+00, 6.49489249e+00, 6.01502419e+00,
       5.99219766e+00, 1.00051422e+00, 2.98398017e+00, 3.00873578e+00,
       3.49892408e+00, 4.98255276e+00, 4.49955567e+00, 5.00290933e+00,
       7.02129305e+00, 5.99309047e+00, 1.99788114e+00, 3.75675668e+00,
       1.50097449e+00, 4.98692042e+00, 7.51029432e+00, 3.49711682e+00,
       2.50395991e+00, 1.49648886e+00, 3.25080186e+00, 1.49854256e+00,
       4.51006057e+00, 5.02132739e+00, 2.49421567e+00, 2.75682698e+00,
       2.49593146e+00, 3.49578758e+00, 1.49959625e+00, 2.50510659e+00,
       3.98402902e+00, 2.00268954e+00, 3.50283340e+00, 2.28151160e+00,
       2.50754318e+00, 2.66021736e+00, 5.18557218e+00, 3.25626832e+00,
       7.02358755e+00, 3.49536161e+00, 1.99492209e+00, 2.49935503e+00,
       2.50241987e+00, 2.49852344e+00, 4.99924525e+00, 4.31501127e+00,
       2.04514452e+00, 4.30907246e+00, 3.49130761e+00, 2.49782516e+00,
       1.75607284e+00, 5.49710257e+00, 3.73981938e+00, 5.00888521e+00,
       5.02098353e+00, 6.99654934e+00, 1.83350777e+00, 2.98345920e+00,
       1.81376591e+00, 2.79444783e+00, 6.04072455e+00, 3.23842712e+00,
       6.02694799e+00, 2.63246526e+00, 7.61076985e+00, 5.00410963e+00,
       6.02086229e+00, 7.47383431e+00, 3.75663280e+00, 5.97836579e+00,
       2.49576258e+00, 2.51431624e+00, 3.74699278e+00, 5.01365385e+00,
       5.00362902e+00, 5.95402993e+00, 7.53422421e+00, 1.49842125e+00,
       3.51141967e+00, 4.96208485e+00, 5.00087099e+00, 6.52275899e+00,
       5.01889614e+00, 6.96800621e+00, 6.02393846e+00, 6.97128123e+00,
       2.75492654e+00, 1.66606804e+00, 3.99800266e+00, 4.99673893e+00,
       7.01697328e+00, 5.99562486e+00, 6.97489329e+00, 5.00093003e+00,
       7.53352523e+00, 2.24896032e+00, 2.74134440e+00, 2.57402061e+00,
       2.91796959e+00, 2.99863770e+00, 6.00916147e+00, 6.00422130e+00,
       3.74551085e+00, 6.07889733e+00, 3.95386987e+00, 2.75859321e+00,
       3.48347286e+00, 2.99606849e+00, 1.49914164e+00, 2.51505329e+00,
       1.99939130e+00, 1.25015419e+00, 4.50596477e+00, 4.96728491e+00,
       3.02294118e+00, 1.99298221e+00, 4.99495579e+00, 3.98605545e+00,
       5.03106262e+00, 2.25122191e+00, 2.99472492e+00, 5.98474140e+00,
       3.00132871e+00, 3.51246388e+00, 3.98889094e+00, 4.99993125e+00,
       4.00127318e+00, 4.99857055e+00, 6.49800638e+00, 4.98688173e+00,
       4.24083992e+00, 7.49749637e+00, 4.98593344e+00, 5.02451264e+00,
       5.00058479e+00, 4.96669281e+00, 3.51165088e+00, 2.25111587e+00,
       1.33251199e+00, 5.97218703e+00, 5.03336914e+00, 6.01397832e+00,
       4.97588837e+00, 4.50266971e+00, 1.50309523e+00, 2.49595257e+00,
       3.49511461e+00, 2.50573233e+00, 4.97369125e+00, 5.02316797e+00,
       4.97568548e+00, 5.02140023e+00, 1.83130237e+00, 2.99657870e+00,
       2.50576901e+00, 6.49394350e+00, 8.28766447e-01, 2.26715829e+00,
       3.24424350e+00, 3.01009301e+00, 5.97224730e+00, 6.01977580e+00,
       4.98208318e+00, 3.00695484e+00, 1.99247867e+00, 2.33548035e+00,
       3.25569747e+00, 2.49720816e+00, 5.00702862e+00, 5.98539149e+00,
       6.01373638e+00, 4.99458712e+00, 4.62765329e+00, 3.06628125e+00,
       3.50431712e+00, 3.50715606e+00, 3.49354253e+00, 6.00114772e+00,
       5.51345897e+00, 5.50782417e+00, 2.74910921e+00, 3.98487188e+00,
       2.99518919e+00, 2.50295331e+00, 2.75605049e+00, 6.00360049e+00,
       5.49501404e+00, 5.98039759e+00, 5.51515826e+00, 4.99205154e+00,
       2.00300562e+00, 2.99927018e+00, 2.99753869e+00, 3.99585763e+00,
       5.01479015e+00, 5.99561071e+00, 4.51475321e+00, 3.99596768e+00,
       4.99063009e+00, 3.75842147e+00, 3.74187986e+00, 4.99211800e+00,
       3.75274550e+00, 2.39534186e+00, 6.57676293e+00, 5.50335322e+00,
       3.24938893e+00, 2.75195809e+00, 2.49732474e+00, 3.76237691e+00,
       3.97928781e+00, 2.50168082e+00, 4.98430222e+00, 2.00443304e+00,
       2.74253839e+00, 6.00998241e+00, 9.99721466e-01, 3.06227650e+00,
       3.71241106e+00, 3.00501232e+00, 1.49774942e+00, 2.00424845e+00,
       3.17626180e+00, 5.68809939e+00, 5.01336968e+00, 2.98732503e+00,
       5.98502331e+00, 6.03787171e+00, 3.97878534e+00, 3.00506416e+00,
       1.83307628e+00, 2.49628020e+00, 5.02112149e+00, 2.99148134e+00,
       3.50360141e+00, 2.74674720e+00, 3.50020466e+00, 6.97939044e+00,
       5.80675288e+00, 5.17819015e+00, 7.01739144e+00, 7.02280363e+00,
       4.96897428e+00, 5.01712512e+00, 6.00068008e+00, 2.75467721e+00,
       2.99171959e+00, 3.00006896e+00, 2.50181103e+00, 7.00506505e+00,
       5.00745067e+00, 2.49867952e+00, 4.98083003e+00, 5.52209682e+00,
       5.47893047e+00, 6.01464650e+00, 2.50083326e+00, 3.74326135e+00,
       1.99970421e+00, 3.00880912e+00, 2.74598324e+00, 3.74776227e+00,
       4.49912986e+00, 7.00918008e+00, 7.00711709e+00, 6.66623079e-01,
       4.58563166e+00, 3.52107923e+00, 2.74886552e+00, 3.25029772e+00,
       2.25326410e+00, 6.01604613e+00, 2.49540689e+00, 3.75308952e+00,
       7.01988578e+00, 1.74398881e+00, 3.00696216e+00, 1.66507444e+00,
       7.01320723e+00, 5.97769324e+00, 3.75086270e+00, 7.01096339e+00,
       3.50008750e+00, 2.99936576e+00, 4.49277288e+00, 5.25474221e+00,
       3.59437532e+00, 6.98521463e+00, 3.74251419e+00, 3.01103083e+00,
       4.97894666e+00, 5.48213054e+00, 7.03646845e+00, 6.00230839e+00,
       6.01352291e+00, 3.74237517e+00, 7.50485418e+00, 2.00278220e+00,
       2.99702670e+00, 5.98741728e+00, 4.48296846e+00, 4.51992282e+00,
       5.01517229e+00, 7.45023656e+00, 6.50341971e+00, 4.50185264e+00,
       4.40734979e+00, 1.83879438e+01, 4.00781580e+00, 4.12270192e+00,
       1.23993773e+00, 2.50073407e+00, 2.99786257e+00, 2.50388508e+00,
       6.97087240e+00, 2.50879944e+00, 4.98090308e+00, 5.00340857e+00,
       2.49698645e+00, 7.02667404e+00, 6.98532112e+00, 4.48306336e+00,
       6.02573407e+00, 2.50006649e+00, 2.49814409e+00, 5.01344927e+00,
       2.50257122e+00, 4.98636990e+00, 3.74563244e+00, 3.00105370e+00,
       3.22055381e+00, 5.60647745e+00, 5.49825888e+00, 1.25213232e+00,
       2.49450239e+00, 2.50111421e+00, 2.99906335e+00, 1.10574743e+01,
       1.09962643e+01, 2.74954976e+00, 4.97749275e+00, 7.02791939e+00,
       1.99515952e+00, 7.02782531e+00, 4.97539116e+00, 4.99307142e+00,
       5.02209513e+00, 4.99312474e+00, 5.98919865e+00, 5.01602271e+00,
       3.50665534e+00, 3.99160156e+00, 1.25002600e+00, 5.98546281e+00,
       5.02947693e+00, 5.98480027e+00, 5.01361196e+00, 6.12980544e+00,
       4.88294959e+00, 3.50543074e+00, 7.45276088e+00, 4.99548117e+00,
       2.50640002e+00, 4.97396544e+00, 2.30721213e+00, 1.39525936e+01,
       7.46907698e+00, 1.00332561e+01, 7.49213118e+00, 2.50095766e+00,
       4.99415268e+00, 5.01146861e+00, 5.97347198e+00, 2.16974982e+00,
       2.50499364e+00, 3.99018276e+00, 4.99716931e+00, 1.50336754e+00,
       4.98675048e+00, 2.16962851e+00, 9.50715149e+00, 1.49789712e+00,
       1.00105970e+00, 2.49958219e+00, 1.99572435e+00, 2.50132246e+00,
       2.24918764e+00, 2.50606607e+00, 4.99684089e+00, 1.50139400e+00,
       5.47802702e+00, 2.94128841e+00, 7.03506099e+00, 3.05587822e+00,
       1.00002722e+01, 2.49692514e+00, 5.00146779e+00, 5.00045212e+00,
       2.99513208e+00, 3.00888750e+00, 3.17475622e+00, 3.72086156e+00,
       3.30453775e+00, 1.53137359e+01, 7.52249644e+00, 7.51725105e+00,
       5.00138372e+00, 1.74771559e+00, 7.61340806e+00, 6.89722051e+00,
       7.45071764e+00, 3.72392573e+00, 1.29769011e+01, 4.99108122e+00,
       5.00526735e+00, 3.75253635e+00, 2.50097712e+00, 1.49797331e+00,
       5.01841409e+00, 2.99822688e+00, 1.00449091e+01, 2.49867171e+00,
       5.99740945e+00, 3.98265443e+00, 1.36399813e+00, 2.85797916e+00,
       6.97842600e+00, 2.00607115e+00, 3.99248941e+00, 2.74895597e+00,
       3.25618041e+00, 3.74125171e+00, 7.48355800e+00, 3.42880911e+00,
       3.07666625e+00, 4.96313904e+00, 3.01077565e+00, 4.98577462e+00,
       7.47376811e+00, 3.75387718e+00, 6.02419215e+00, 5.97148615e+00,
       5.52796305e+00, 6.47662926e+00, 2.75200839e+00, 2.49440768e+00,
       6.52914720e+00, 2.99556116e+00, 9.46443083e+00, 5.14014841e+00,
       4.00656676e+00, 7.66960395e+00, 6.01359239e+00, 3.73715095e+00,
       3.50251257e+00, 6.49683821e+00, 7.14152708e+00, 2.54475266e+00,
       5.99583789e+00, 5.99276291e+00, 5.02190877e+00, 2.49902654e+00,
       2.49890118e+00, 1.24772394e+01, 1.75084916e+01])

In [92]:
a = dt.replace([np.inf, -np.inf], np.nan)

In [93]:
def abd_2(x):
    if x < 0:
        return ((-1)*x)/10
    elif x > 200:
        return x/10
    else:
        return x
    
a['abdomen_girth'] = a['abdomen_girth'].apply(abd_2)

def abd_3(x):
    if x < 15:
        return np.nan
    elif x > 50:
        return np.nan
    else:
        return x
    
a['abdomen_girth'] = a['abdomen_girth'].apply(abd_3)

def upm(x):
    if x > 100:
        return np.nan
    else:
        return x
    
a['urine_per_hour'] = a['urine_per_hour'].apply(upm)

def temp_f_c(x):
    if x > 90:
        return (x - 32)*(5/9)
    else:
        return x
    
a['temp'] = a['temp'].apply(temp_f_c)

def weight_correct(x):
    if x<10:
        return x*100
    elif x>5000:
        return x/10
    else:
        return x
    
def weight_correct_2(x):
    if x<300:
        return x*10
    elif x>5000:
        return x/10
    else:
        return x
    
a.currentdate = a.currentdateweight.apply(weight_correct)
a.currentdate = a.currentdateweight.apply(weight_correct_2)

def height_correct(x):
    if x < 10:
        return np.nan
    else:
        return x
    
def rbs_correct(x):
    if x > 700:
        return np.nan
    else:
        return x
    
a['currentdateheight'] = a['currentdateheight'].apply(height_correct)

a['rbs'] = a['rbs'].apply(rbs_correct)

/Users/harpreet/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [94]:
len(a.uhid.unique())

1

In [95]:
data = a.copy()

In [96]:
def split_date_1(x):
    try:
        t=str(x)
        return str(t.split(" ")[0])
    except:
        pass

In [97]:
data['day'] = data['hour_series'].apply(split_date_1)

In [98]:
def to_date(x):
    return pd.to_datetime(x)

In [99]:
data['hour_series'] = data['hour_series'].apply(to_date)

In [100]:
len(data.uhid.unique())

1

In [101]:
data.to_csv(caseType+seperator+uhidPatient+seperator+"intermittent_checkpoint_2.csv")

In [ ]:
df = pd.DataFrame()
for i in data.uhid.unique():
    x = data[data['uhid']==i]
    x.rbs.fillna(method='ffill',inplace=True)
    x.currentdateweight.fillna(method='ffill',inplace=True)
    x.currentdateheight.fillna(method='ffill',inplace=True)
    n = math.ceil(len(x)/24)+1
    start_date = pd.to_datetime(x['day'].iloc[0]+" " + "08:00:00") - timedelta(hours=24)
    for i in range(int(n)):
        
       
        y = x[(x['hour_series']>=start_date + timedelta(hours=24*i)) & (x['hour_series']<=start_date + timedelta(hours=24*(i+1)))]
        y['stool_day_total'] = y['stool_passed'].sum()
        df =df.append(y,ignore_index=True)

/Users/harpreet/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
df.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_3.csv')

In [ ]:
test = df.copy()

In [ ]:
dq = pd.DataFrame()

In [ ]:
for i in test.uhid.unique():
    x = test[test['uhid']==i]
    x.abdomen_girth.fillna(method='ffill',inplace=True)
    dq = dq.append(x, ignore_index=True)

In [ ]:
final = pd.DataFrame()

In [ ]:
for i in dq.uhid.unique():
    x = dq[dq['uhid']==i]
    x['abd_difference_y'] = x['abdomen_girth'] - x['abdomen_girth'].shift(periods=1)
    final = final.append(x,ignore_index=True)

In [ ]:
final.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_4.csv')

In [ ]:
cur1 = con.cursor()
cur1.execute("SELECT t1.uhid,t1.starttime,t1.pulserate, t1.ecg_resprate, t1.spo2, t1.heartrate, t2.dischargestatus,t1.mean_bp,t1.sys_bp,t1.dia_bp  FROM apollo.device_monitor_detail_dump AS t1 LEFT JOIN apollo.baby_detail AS t2 ON t1.uhid=t2.uhid WHERE (t2.dischargestatus = 'Discharge' AND t2.dateofadmission > '2018-07-01' and t2.uhid = '"+ uhidPatient+"') OR (t2.dischargestatus = '"+caseType+"' AND t2.dateofadmission > '2018-07-01' and t2.uhid = '"+ uhidPatient+"');")
cols1 = list(map(lambda x: x[0], cur1.description))
ds = pd.DataFrame(cur1.fetchall(),columns=cols1)
ds.sort_values('starttime',inplace=True)

In [ ]:
ds

In [ ]:
test = ds.drop_duplicates(subset=['uhid','starttime'],keep='first')

In [ ]:
cur_vent = con.cursor()
cur_vent.execute("SELECT t1.uhid,t1.start_time,t1.creationtime,t1.peep, t1.pip,t1.map ,t1.tidalvol, t1.minvol,t1.ti,t1.fio2 FROM apollo.device_ventilator_detail_dump AS t1 LEFT JOIN apollo.baby_detail AS t2 ON t1.uhid=t2.uhid WHERE (t2.dischargestatus = 'Discharge' OR t2.dischargestatus = '"+caseType+"') and t2.uhid = '"+uhidPatient+"';")
cols_vent = list(map(lambda x: x[0], cur_vent.description))
ventilator_cont = pd.DataFrame(cur_vent.fetchall(),columns=cols_vent)

test_vent = ventilator_cont.drop_duplicates(subset=['uhid','start_time'],keep='first')

def split_date(x):
    try:
        t=str(x)
        return t.split(":")[0] + ":" + t.split(":")[1]
    except:
        pass

test['date'] = test.starttime.apply(split_date)
test_vent['date'] = test_vent.start_time.apply(split_date)

In [ ]:
cont_data = pd.merge(test,test_vent,on=['uhid','date'],how='left',copy=False)
test_cont = cont_data.drop_duplicates(subset=['uhid','starttime','heartrate'],keep='first')

In [ ]:
test_cont['hour_series'] = test_cont['date'].apply(split_hour)

In [ ]:
def to_str(x):
    return str(x)

In [ ]:
test_cont['ref_hour'] = test_cont['hour_series'].apply(to_str)
final['ref_hour'] = final['hour_series'].apply(to_str)

In [ ]:
def con_time(x):
    return str(x).split("+")[0].split(":")[0] + ":" +str(x).split("+")[0].split(":")[1]

In [ ]:
test_cont['cont_time'] = test_cont.starttime.apply(con_time)

In [ ]:
def con_time_2(x):
    return str(x).split(":")[0] +":"+str(x).split(":")[1]

In [ ]:
final['cont_time'] = final.ref_hour.apply(con_time_2)

In [ ]:
qw = pd.merge(final,test_cont, on=['uhid','cont_time'],how='left')

In [ ]:
#final[final['cont_time']=='2019-09-30 11:18']

In [ ]:
#qw.dropna(subset=['series'],inplace=True)

In [ ]:
qw.to_csv(caseType+seperator+uhidPatient+seperator+'intermediate_checkpoint_new_5.csv')